
{{#section 'header'}}
    <link rel="stylesheet" href="/css/admin-builders.css">
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}

{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}


<div class="container">

    <div class="pt-3">
        <h1 class="is-size-1 has-text-light has-text-centered">Admin Panel</h1>
    </div>
    <hr>

    <div class="columns is-centered is-multiline mb-2">
        <div class="column is-3">
            <a class="button is-large is-dark" href="/admin/manage/ancestry">Ancestries</a>
        </div>
        <div class="column is-3">
            <a class="button is-large is-dark" href="/admin/manage/feat-action">Feats / Actions</a>
        </div>
    </div>

</div>