node_modules
dist
.jshintrc
.env
app.yaml
TO-DO.txt
redis-server.exe
redis.windows.conf
dump.rdb
*.sql
*.log
*.rdb

.solid
.output
.vercel
.netlify
netlify

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
