<div class="section-box pb-3 has-back-to-top">
  <p style="position: relative;" class="is-size-3 has-text-centered pb-2 has-txt-value-number is-bold title-font">My Builds<span class="is-weight-normal" style="position: absolute; top: 5px; right: 5px;"><span id="createBuildBtn" class="button is-small is-info is-rounded"><span>Create</span><span class="icon is-small"><i class="fas fa-plus"></i></span></span></span></p>

  <div class="user-bundle-container">

    <p class="is-size-5 is-bold has-text-centered">In Progress</p>
    <hr class="mt-0 mb-2">
    <div id="buildsInProgessContainer">
    </div>

    <p class="is-size-5 is-bold has-text-centered pt-4">Published</p>
    <hr class="mt-0 mb-2">
    <div id="buildsPublishedContainer">
    </div>

  </div>
</div>

<div id="build-update-published-modal" class="modal">
  <div id="build-update-published-modal-background" class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title is-size-4 has-txt-value-number">Update Build</p>
          <button id="build-update-published-modal-close" class="delete modal-card-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
          <p class="has-txt-listing has-text-center-justified">When you update a published build, your build goes back into being in progess. Your build will no longer be publicly available while under progess. All users who have your build already in their collections will still be able to use your build's content, but they will see your live updates - potentially causing the build to become unstable for them as you work on it.</p>
      </section>
      <footer class="modal-card-foot is-paddingless p-3 field is-grouped is-grouped-centered">
          <p class="control">
              <a id="build-update-published-modal-btn" class="button is-info is-outlined">Update</a>
          </p>
      </footer>
  </div>
</div>