<div class="section-box pb-3 has-back-to-top" style="position: relative;">

  <span id="build-back-btn" style="position: absolute; top: 0px; left: 0px; z-index: 1;" class="icon is-large has-text-info cursor-clickable">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>

  <div style="position: absolute; top: 5px; right: 5px; z-index: 1;">
    <button id="build-create-character-btn" class="button is-rounded is-success is-outlined is-small">
      <span id="build-create-character-btn-text">Create Character from Build</span>
      <span class="icon">
        <i class="fas fa-user-plus"></i>
      </span>
    </button>
  </div>

  <div style="max-width: 70%; margin: auto;">
    <p class="is-size-3 has-text-centered pb-2"><span id="build-name" class="title-font has-txt-value-number is-bold"></span></p>
  </div>

  <div class="view-build-container pb-2">

    <div class="pos-relative">
      <div class="fading-reveal-container is-active">
        <div style="float: right; max-width: 60%; max-height: 40vh;">
          <img id="build-artwork-img" src="" style="max-height: 40vh;">
        </div>
        <div id="build-description" class="has-text-left"></div>
      </div>
      <p class="reveal-container-text is-hidden has-text-info">Show More</p>
    </div>
    <div class="px-1 pb-1"><p id="build-contact-info" class="has-txt-listing is-bold text-right"></p></div>

  </div>

  <div class="view-build-container">

    <div class="columns mx-5 mobile-is-marginless">
      <div class="column mx-4 mobile-is-marginless">

        <div class="s-x-box py-2 pl-4 pr-1">
          <p class="has-txt-value-string title-font px-3">Ancestry</p>
          <p class="has-txt-value-string"><a id="build-ancestry" style="max-width: 180px;" class="btn button-style m-1"></a><span class="is-p"> - </span><a id="build-heritage" style="max-width: 180px;" class="btn button-style m-1"></a></p>
          <p class="has-txt-value-string title-font pl-3">Background</p>
          <p class="has-txt-value-string"><a id="build-background" style="max-width: 180px;" class="btn button-style m-1"></a></p>
          <p class="has-txt-value-string title-font pl-3">Class</p>
          <p class="has-txt-value-string"><a id="build-class" style="max-width: 180px;" class="btn button-style m-1"></a></p>
        </div>

        <div id="build-class-selections-section" class="is-hidden mt-3">
          <div id="build-class-selections" class="s-x-box">
          </div>
        </div>

      </div>
      <div class="column mx-4 mobile-is-marginless">
        
        <div class="s-x-box py-2 pl-2 pr-1">
          <p class="has-txt-value-string title-font has-text-centered">Final Statistics</p>
          <div id="build-statistics-container" class="use-custom-scrollbar" style="height: 500px; max-height: 500px; overflow-y: scroll;">
          
            <!-- Ability Scores -->
            <div id="ability-scores-body" class="accord-like-button-mimic mx-2 mb-2">
              <div class="columns is-mobile is-centered is-marginless text-center mx-3">
                <div class="column is-2 is-paddingless"><p class="is-bold-very">Str</p></div>
                <div class="column is-2 is-paddingless"><p class="is-bold-very">Dex</p></div>
                <div class="column is-2 is-paddingless"><p class="is-bold-very">Con</p></div>
                <div class="column is-2 is-paddingless"><p class="is-bold-very">Int</p></div>
                <div class="column is-2 is-paddingless"><p class="is-bold-very">Wis</p></div>
                <div class="column is-2 is-paddingless"><p class="is-bold-very">Cha</p></div>
              </div>
              <div class="columns is-mobile is-centered is-marginless text-center mx-3">
                <div class="column is-2 is-paddingless"><p id="str-score">10</p></div>
                <div class="column is-2 is-paddingless"><p id="dex-score">10</p></div>
                <div class="column is-2 is-paddingless"><p id="con-score">10</p></div>
                <div class="column is-2 is-paddingless"><p id="int-score">10</p></div>
                <div class="column is-2 is-paddingless"><p id="wis-score">10</p></div>
                <div class="column is-2 is-paddingless"><p id="cha-score">10</p></div>
              </div>
            </div>

            <!-- Hit Points -->
            <div id="hit-points-body" class="accord-like-button-mimic columns is-mobile is-marginless my-1">
              <div class="column is-8 is-paddingless"><span class="title-font pl-2">Hit Points</span></div>
              <div class="column is-2 is-paddingless"><p id="hit-points-total" class="has-text-centered">130</p></div>
              <div class="column is-2 is-paddingless"><p class="has-text-centered is-italic has-txt-noted is-size-7-5 pt-2">(at max)</p></div>
            </div>

            <!-- Class DC -->
            <div id="class-dc-body" class="accord-like-button-mimic columns is-mobile is-marginless my-1">
              <div class="column is-8 is-paddingless"><span class="title-font pl-2">Class DC</span></div>
              <div class="column is-2 is-paddingless"><p id="class-dc-total" class="has-text-centered">18</p></div>
              <div class="column is-2 is-paddingless"><p id="class-dc-rank" class="has-text-centered is-italic has-txt-noted">E</p></div>
            </div>

            <!-- Perception -->
            <div id="perception-body" class="accord-like-button-mimic columns is-mobile is-marginless my-1">
              <div class="column is-8 is-paddingless"><span class="title-font pl-2">Perception</span></div>
              <div class="column is-2 is-paddingless"><p id="perception-total" class="has-text-centered">+28</p></div>
              <div class="column is-2 is-paddingless"><p id="perception-rank" class="has-text-centered is-italic has-txt-noted">T</p></div>
            </div>

            <!-- Skills -->
            <div class="accord-container my-1">
              <div class="accord-header">
                <span class="title-font pl-2">Skills</span>
                <span class="icon is-pulled-right">
                  <i class="accord-chevron fas fa-chevron-down"></i>
                </span>
              </div>
              <div id="skills-body" class="accord-body is-hidden">
                <!-- Populated at runtime -->
              </div>
            </div>

            <!-- Saves -->
            <div class="accord-container my-1">
              <div class="accord-header">
                <span class="title-font pl-2">Saves</span>
                <span class="icon is-pulled-right">
                  <i class="accord-chevron fas fa-chevron-down"></i>
                </span>
              </div>
              <div id="saves-body" class="accord-body is-hidden">
                <!-- Populated at runtime -->
              </div>
            </div>

            <!-- Attacks -->
            <div class="accord-container my-1">
              <div class="accord-header">
                <span class="title-font pl-2">Attacks</span>
                <span class="icon is-pulled-right">
                  <i class="accord-chevron fas fa-chevron-down"></i>
                </span>
              </div>
              <div id="attacks-body" class="accord-body is-hidden">
                <!-- Populated at runtime -->
              </div>
            </div>

            <!-- Defenses -->
            <div class="accord-container my-1">
              <div class="accord-header">
                <span class="title-font pl-2">Defenses</span>
                <span class="icon is-pulled-right">
                  <i class="accord-chevron fas fa-chevron-down"></i>
                </span>
              </div>
              <div id="defenses-body" class="accord-body is-hidden">
                <!-- Populated at runtime -->
              </div>
            </div>

            <!-- Spellcasting -->
            <div class="accord-container my-1">
              <div class="accord-header">
                <span class="title-font pl-2">Spellcasting</span>
                <span class="icon is-pulled-right">
                  <i class="accord-chevron fas fa-chevron-down"></i>
                </span>
              </div>
              <div id="spellcasting-body" class="accord-body is-hidden">
                <!-- Populated at runtime -->
              </div>
            </div>
            
            <!-- Languages -->
            <div class="accord-container my-1">
              <div class="accord-header">
                <span class="title-font pl-2">Languages</span>
                <span class="icon is-pulled-right">
                  <i class="accord-chevron fas fa-chevron-down"></i>
                </span>
              </div>
              <div id="languages-body" class="accord-body is-hidden">
                <!-- Populated at runtime -->
              </div>
            </div>
            
            <!-- Resist & Weaks -->
            <div class="accord-container my-1">
              <div class="accord-header">
                <span class="title-font pl-2">Resist & Weaks</span>
                <span class="icon is-pulled-right">
                  <i class="accord-chevron fas fa-chevron-down"></i>
                </span>
              </div>
              <div id="resist-weaks-body" class="accord-body is-hidden">
                <!-- Populated at runtime -->
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div id="build-ancestry-feats-section" class="is-hidden" style="margin-left: 0.75rem; margin-right: 0.75rem;">
      <h3 class="text-center pb-2">Ancestry Feats</h3>
      <div id="build-ancestry-feats" class="s-x-box mb-4">
      </div>
    </div>

    <hr class="m-2">

    <div id="build-class-feats-section" class="is-hidden" style="margin-left: 0.75rem; margin-right: 0.75rem;">
      <h3 class="text-center pb-2">Class Feats</h3>
      <div id="build-class-feats" class="s-x-box mb-4">
      </div>
    </div>

    <div id="build-archetype-feats-section" class="is-hidden" style="margin-left: 0.75rem; margin-right: 0.75rem;">
      <h3 class="text-center pb-2">Archetype Feats</h3>
      <div id="build-archetype-feats" class="s-x-box mb-4">
      </div>
    </div>

    <hr class="m-2">

    <div id="build-skill-history-section" class="is-hidden" style="margin-left: 0.75rem; margin-right: 0.75rem;">
      <h3 class="text-center pb-2">Skill History</h3>
      <div id="build-skill-history" class="s-x-box mb-4">
      </div>
    </div>

    <hr class="m-2">

    <div id="build-skill-feats-section" class="is-hidden" style="margin-left: 0.75rem; margin-right: 0.75rem;">
      <h3 class="text-center pb-2">Skill Feats</h3>
      <div id="build-skill-feats" class="s-x-box mb-4">
      </div>
    </div>

    <div id="build-general-feats-section" class="is-hidden" style="margin-left: 0.75rem; margin-right: 0.75rem;">
      <h3 class="text-center pb-2">General Feats</h3>
      <div id="build-general-feats" class="s-x-box mb-4">
      </div>
    </div>

  </div>
    
</div>
