
<div id="char-builder" class="container py-4 text-center">
    
  <div id="errorDisplay" class="hero is-danger is-hidden">
      <div class="hero-body is-paddingless py-3">
          <div id="errorMessage" class="container"></div>
      </div>
  </div>

  <div class="box">

      <h1 class="title is-2 has-text-grey-light">Character Builder</h1>

      <div class="steps">
          <div class="step-item is-completed is-info">
              <div class="step-marker">
              <a class="builder-basics-page-btn"><span class="has-text-bck-color icon"><i class="fa fa-user-alt"></i></span></a>
              </div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-basics-page-btn button is-rounded is-inverted is-info"><p class="step-title">Basics</p></a>
              </div>
          </div>
          <div class="step-item is-active is-info">
              <div class="step-marker"><a class="builder-ancestry-page-btn"><span class="">A</span></a></div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-ancestry-page-btn button is-rounded is-inverted is-info"><p class="step-title">Ancestry</p></a>
              </div>
          </div>
          <div class="step-item">
              <div class="step-marker"><a class="builder-background-page-btn"><span class="has-text-bck-color">B</span></a></div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-background-page-btn button is-rounded is-inverted is-info"><p class="step-title">Background</p></a>
              </div>
          </div>
          <div class="step-item">
              <div class="step-marker"><a class="builder-class-page-btn"><span class="has-text-bck-color">C</span></a></div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-class-page-btn button is-rounded is-inverted is-info"><p class="step-title">Class</p></a>
              </div>
          </div>
          <div class="step-item">
              <div class="step-marker">
              <a class="builder-finalize-page-btn"><span class="has-text-bck-color icon"><i class="fa fa-flag"></i></span></a>
              </div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-finalize-page-btn button is-rounded is-inverted is-info"><p class="step-title">Finalize</p></a>
              </div>
          </div>
      </div>

      <div class="field" style="position: relative;">
          <div id="ancestryRarityContainer" class="is-hidden-mobile" style="position: absolute; bottom: 0px; right: 0px;">
          </div>
          <div id="selectAncestryControlShell" class="select is-medium">
              <select id="selectAncestry">
              </select>
          </div>
      </div>

      <article id="isArchivedMessage" class="message is-hidden">
          <div class="message-header is-block text-center">
              <p class="has-text-grey-lighter font-noto-sans is-size-5 has-text-weight-bold">Archived Ancestry</p>
          </div>
          <div class="message-body has-text-grey-light font-noto-sans">
              This ancestry has been archived, likely because there is a new version available. Archived versions may eventually be removed so we highly recommend updating your character to the newest version when available.
          </div>
      </article>

      <article class="ancestry-content message is-info">
          <div id="ancestryDescription" class="message-body is-italic"></div>
      </article>

  </div>

  <div class="ancestry-content">

      <div id="ancestryInfo" class="box is-marginless">
          <div class="tile is-ancestor is-vertical">
              <div class="tile is-parent">
                  <div class="tile is-child">
                      <p class="is-size-5 has-text-title has-text-weight-semibold">Hit Points</p>
                      <div class="container">
                          <p id="ancestryHitPoints" class="is-size-3-5 has-text-value"></p>
                      </div>
                  </div>
                  <div class="tile is-child">
                      <p class="is-size-5 has-text-title has-text-weight-semibold">Size</p>
                      <div class="container">
                          <p id="ancestrySize" class="is-size-3-5 has-text-value"></p>
                      </div>
                  </div>
                  <div class="tile is-child">
                      <p class="is-size-5 has-text-title has-text-weight-semibold">Speed</p>
                      <div class="container">
                          <p id="ancestrySpeed" class="is-size-3-5 has-text-value"></p>
                      </div>
                  </div>
              </div>
              <div class="tile is-parent">
                  <div class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Languages</p>
                      <div class="container">
                          <p id="ancestryLanguages" class="is-size-5 has-text-value"></p>
                      </div>
                  </div>
                  <div class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Senses</p>
                      <div class="container">
                          <p id="ancestrySenses" class="is-size-5 has-text-value"></p>
                      </div>
                  </div>
                  <div id="sectionPhysicalFeatures" class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Physical Features</p>
                      <div class="container">
                          <p id="ancestryPhysicalFeatures" class="is-size-5 has-text-value"></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="columns is-centered is-marginless">
          <div id="physicalFeatureOneCodeOutput" class="column is-half-tablet"></div>
          <div id="physicalFeatureTwoCodeOutput" class="column is-half-tablet"></div>
      </div>

      <div id="ancestryBoostsAndFlaws" class="box mt-4">
          <div class="tile is-ancestor is-vertical">
              <div class="tile is-parent">
                  <div id="boostsSection" class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Boosts</p>
                      <span id="boostsNonChoose" class="is-size-4"></span>
                      <span id="boostsChoose"></span>
                  </div>
              </div>
              <div class="tile is-parent">
                  <div id="flawsSection" class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Flaws</p>
                      <span id="flawsNonChoose"></span>
                  </div>
              </div>
          </div>
      </div>
      
      <div id="heritage-container" class="box">

          <div class="tabs is-small is-centered is-marginless">
              <ul class="builder-tabs">
                  <li><a id="ancestryHeritageTab" class="heritageTab">Ancestry</a></li>
                  <li><a id="universalHeritageTab" class="heritageTab">Versatile</a></li>
              </ul>
          </div>

          <div id="heritageSection" class="py-2">
              <div class="field">
                  <div id="selectHeritageControlShell" class="select is-medium is-info">
                      <select id="selectHeritage">
                      </select>
                  </div>
              </div>

              <div class="columns is-centered">
                  <div class="column is-mobile is-8">
                      <article class="message is-info">
                          <div id="heritageDescription" class="message-body"></div>
                      </article>
                  </div>
              </div>

              <div class="columns is-centered">
                  <div id="heritageCodeOutput" class="column is-8 is-paddingless">
                  </div>
              </div>
          </div>

      </div>

      <div id="ancestryFeats" class="box">
      </div>

  </div>

</div>