
<div id="char-builder" class="container py-4 text-center">

  <div id="errorDisplay" class="hero is-danger is-hidden">
      <div class="hero-body is-paddingless py-3">
          <div id="errorMessage" class="container"></div>
      </div>
  </div>

  <div class="box">

      <h1 class="title is-2 has-text-grey-light">Character Builder</h1>

      <div class="steps">
          <div class="step-item is-completed is-info">
              <div class="step-marker">
              <a class="builder-basics-page-btn"><span class="has-text-bck-color icon"><i class="fa fa-user-alt"></i></span></a>
              </div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-basics-page-btn button is-rounded is-inverted is-info"><p class="step-title">Basics</p></a>
              </div>
          </div>
          <div class="step-item is-completed is-info">
              <div class="step-marker"><a class="builder-ancestry-page-btn"><span class="has-text-bck-color">A</span></a></div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-ancestry-page-btn button is-rounded is-inverted is-info"><p class="step-title">Ancestry</p></a>
              </div>
          </div>
          <div class="step-item is-completed is-info">
              <div class="step-marker"><a class="builder-background-page-btn"><span class="has-text-bck-color">B</span></a></div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-background-page-btn button is-rounded is-inverted is-info"><p class="step-title">Background</p></a>
              </div>
          </div>
          <div class="step-item is-active is-info">
              <div class="step-marker"><a class="builder-class-page-btn"><span class="">C</span></a></div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-class-page-btn button is-rounded is-inverted is-info"><p class="step-title">Class</p></a>
              </div>
          </div>
          <div id="class-2-page-icon" class="step-item is-info is-hidden">
            <div class="step-marker"><a class="builder-class-2-page-btn"><span class="">C</span></a></div>
            <div class="step-details is-hidden-touch">
                <a class="builder-class-2-page-btn button is-rounded is-inverted is-info"><p class="step-title">Class</p></a>
            </div>
          </div>
          <div class="step-item">
              <div class="step-marker">
              <a class="builder-finalize-page-btn"><span class="has-text-bck-color icon"><i class="fa fa-flag"></i></span></a>
              </div>
              <div class="step-details is-hidden-touch">
                  <a class="builder-finalize-page-btn button is-rounded is-inverted is-info"><p class="step-title">Finalize</p></a>
              </div>
          </div>
      </div>

      <div class="field" style="position: relative;">
        <div id="classRarityContainer-1" class="is-hidden-mobile" style="position: absolute; bottom: 0px; right: 0px;">
        </div>
        <div id="selectClassControlShell-1" class="select is-medium">
          <select id="selectClass-1">
          </select>
        </div>
      </div>

      <article id="isArchivedMessage-1" class="message is-hidden">
          <div class="message-header is-block text-center">
              <p class="has-text-grey-lighter font-noto-sans is-size-5 has-text-weight-bold">Archived Class</p>
          </div>
          <div class="message-body has-text-grey-light font-noto-sans">
              This class has been archived, likely because there is a new version available. Archived versions may eventually be removed so we highly recommend updating your character to the newest version when available.
          </div>
      </article>

      <article class="class-content-1 message is-info">
        <div class="message-body">

          <div style="float: right; max-width: 25vw; max-height: 70vh;">
            <img id="classArtworkImg-1" src="" style="max-height: 70vh;">
          </div>
          <div id="classDescription-1" class="has-text-left"></div>
          
        </div>
      </article>

  </div>

  <div class="class-content-1">

      <div id="classBroadInfo-1" class="box">
          <div class="columns">
              <div class="column">
              </div>
              <div class="column">
                  <div class="has-tooltip-bottom has-tooltip-multiline" data-tooltip="At 1st level, you gain an ability boost in the key ability of your class.">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Key Ability</p>
                      <div id="keyAbility-1" class="container">
                      </div>
                  </div>
              </div>
              <div class="column">
                  <div class="has-tooltip-bottom has-tooltip-multiline" data-tooltip="Your max HP increases by this number plus your Constitution modifier at every level (including 1st).">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Hit Points</p>
                      <div id="hitPoints-1" class="container">
                      </div>
                  </div>
              </div>
              <div class="column">
              </div>
          </div>
      </div>

      <div id="classInfo-1" class="box">
          <div class="tile is-ancestor">
              <div class="tile is-parent is-4 is-vertical">
                  <div class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Perception</p>
                      <div id="profPerception-1" class="container">
                      </div>
                  </div>
                  <div class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Skills</p>
                      <div id="profSkills-1" class="container">
                      </div>
                      <div id="profSkillsCode-1">
                      </div>
                  </div>
              </div>
              <div class="tile is-parent is-4 is-vertical">
                  <div class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Saving Throws</p>
                      <div id="profSavingThrows-1" class="container">
                      </div>
                  </div>
                  <div class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Class DC</p>
                      <div id="profClassDC-1" class="container">
                      </div>
                  </div>
              </div>
              <div class="tile is-parent is-4 is-vertical">
                  <div class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Attacks</p>
                      <div id="profAttacks-1" class="container">
                      </div>
                  </div>
                  <div class="tile is-child">
                      <p class="is-size-4 has-text-title has-text-weight-semibold">Defenses</p>
                      <div id="profDefenses-1" class="container">
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div id="classAbilities-1" class="box has-back-to-top">
      </div>

  </div>

</div>