
{{#section 'header'}}
    <link rel="stylesheet" href="/css/admin-builders.css">
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}

{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}


<div class="pt-3">
    <h1 class="is-size-1 font-forum has-text-light has-text-centered">Ancestry Creation</h1>
</div>

<div class="columns is-mobile is-centered mt-2 mb-3">

    <div class="box column is-4 is-marginless mr-2">

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input id="inputName" class="input" type="text" placeholder="e.g. Gnome">
            </div>
        </div>

        <div class="field">
            <label class="label">Hit Points</label>
            <div class="control">
                <input id="inputHitPoints" class="input" type="number" value="8">
            </div>
        </div>

        <div class="field">
            <label class="label">Size</label>
            <div class="control">
                <div class="select">
                    <select id="inputSize">
                        <option value="TINY">Tiny</option>
                        <option value="SMALL">Small</option>
                        <option value="MEDIUM" selected>Medium</option>
                        <option value="LARGE">Large</option>
                        <option value="GARGANTUAN">Gargantuan</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Speed</label>
            <div class="control">
                <input id="inputSpeed" class="input" type="number" value="25" step="5">
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea id="inputDescription" class="textarea" placeholder="Always hungry for new experiences..."></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label">Vision Type</label>
            <div class="control">
                <div class="select">
                    <select id="inputVisionType">
                        <option value="1" selected>Normal Vision</option>
                        <option value="2">Low-Light Vision</option>
                        <option value="3">Darkvision</option>
                        <option value="4">Greater Darkvision</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Languages (known by default)</label>
            <div class="control">
                <div class="select is-multiple">
                    <select id="inputLangs" multiple>
                        {{#each languages}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Bonus Languages</label>
            <div class="control">
                <div class="select is-multiple">
                    <select id="inputLangs" multiple>
                        {{#each languages}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="box column is-4 is-marginless ml-2">

        <div class="field">
            <label class="label">Boosts</label>
            <div class="control">
                <div class="select is-multiple">
                    <select id="inputBoosts" multiple size="7" class="use-invisible-scrollbar">
                        <option value="Anything">Anything</option>
                        <option value="Strength">Strength</option>
                        <option value="Dexterity">Dexterity</option>
                        <option value="Constitution">Constitution</option>
                        <option value="Intelligence">Intelligence</option>
                        <option value="Wisdom">Wisdom</option>
                        <option value="Charisma">Charisma</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Flaws</label>
            <div class="control">
                <div class="select is-multiple">
                    <select id="inputFlaws" multiple size="7" class="use-invisible-scrollbar">
                        <option value="Anything">Anything</option>
                        <option value="Strength">Strength</option>
                        <option value="Dexterity">Dexterity</option>
                        <option value="Constitution">Constitution</option>
                        <option value="Intelligence">Intelligence</option>
                        <option value="Wisdom">Wisdom</option>
                        <option value="Charisma">Charisma</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="field is-grouped is-grouped-centered pb-2">
    <div class="control">
        <button class="button is-link">Create</button>
    </div>
</div>