
{{#section 'header'}}
    <!-- Character Sheet Styling -->
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters" class="active">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}

<div>
    <h3>Character Incomplete</h3>
    <p>
        Please finish building your character.
        <form action="/profile/characters/builder/{{character.id}}/page1">
            <button type="submit">Continue Character Creation</button>
        </form>
    </p>
</div>
