
hr {
    border-color: #5e5e5e;
}

.card {
    background-color: #222222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.card-content {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: rgb(51, 51, 51);
}
.card-footer {
    background-color: rgb(43, 43, 43);
    border-top-color: #222222;
}
.card-footer-item {
    border-right-color: #222222!important;
}

.card-content-hover {
    background-color: rgb(57, 57, 57);
}
.card-footer-hover {
    background-color: rgb(49, 49, 49);
}


.entryListing {
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background-color: rgb(37, 37, 37);
}
.entry-footer-hover {
    background-color: rgb(49, 49, 49);
}


.modal-card-head {
    background-color: #353535;
    border-bottom-color: #282828;
}
.modal-card-body {
    background-color: #414141;
}
.modal-card-foot {
    background-color: #353535;
    border-top-color: #282828;
}
.modal-background {
    background-color: rgba(10,10,10,.26)
}


.input, .select select, .textarea {
    background-color: hsl(0, 0%, 18%);
    border-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 86%);
}

.input:hover, .select select:hover, .textarea:hover {
    border-color: hsl(0, 0%, 10%);
}

.select::after {
    border-color: hsl(0, 0%, 86%)!important;
}

.select:hover::after {
    border-color: #3273dc!important;
}

.input::-webkit-input-placeholder, .select select::-webkit-input-placeholder, .textarea::-webkit-input-placeholder{
    color:rgba(219,219,219,.4);
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
    color:rgba(219,219,219,.4);
}