
.accord-header, .accord-like-button {
  cursor: pointer!important;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background: hsl(0, 0%, 12%);
  border: 1px solid #1b1b1b;
  color: #cccccc;
  border-radius: 4px;

  padding: .25rem!important;
}

.accord-body {
  border: 1px solid #1d1d1d;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  background: #2b2b2b;
}

.accord-hover {
  background-color: hsl(0, 0%, 15%)!important
}
.entry-hover {
  background-color: hsl(0, 0%, 19%)!important
}

.accord-selection-none {
  color: hsl(0, 0%, 54%);
  font-style: italic;
}

/* Steps */
.steps .step-item .step-marker {
  background: #999;
  color: #282828;
  border-color: #282828;
}

.steps .step-item::before {
  background: linear-gradient(to left,#999 50%,#999 50%);
}

.steps .step-item.is-info.is-active .step-marker {
  background-color: #282828;
}

.step-marker a {
  color: hsl(204, 86%, 53%);
}
.step-marker a:hover {
  color: hsl(204, 86%, 53%);
}

.step-builder-title {
  font-size: 0.8rem!important;
}
.has-text-bck-color {
  color: #282828;
}
.button.is-info.is-inverted {
  background-color: #282828;
  color: #3298dc;
}
.button.is-info.is-inverted:hover {
  background-color: #282828;
}