
.accord-header, .accord-like-button {
  cursor: pointer!important;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background: hsl(0, 0%, 12%);
  border: 1px solid #1b1b1b;
  color: #cccccc;
  border-radius: 4px;

  padding: .25rem!important;
}
.accord-like-button-mimic {
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background: hsl(0, 0%, 12%);
  border: 1px solid #1b1b1b;
  color: #cccccc;
  border-radius: 4px;

  padding: .25rem!important;
}

.accord-body {
  border: 1px solid #1d1d1d;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  background: #2b2b2b;
}

.accord-hover {
  background-color: hsl(0, 0%, 15%)!important;
}
.entry-hover {
  background-color: hsl(0, 0%, 19%)!important;
}
.entry-hover-darker {
  background-color: hsl(0, 0%, 15%)!important;
}

.entry-selected-darker {
  background-color: hsl(0, 0%, 15%)!important;
  font-weight: 600;
}

.accord-selection-none {
  color: hsl(0, 0%, 54%);
  font-style: italic;
}

/* Steps */
.steps .step-item .step-marker {
  background: #999;
  color: #282828;
  border-color: #282828;
}

.steps .step-item::before {
  background: linear-gradient(to left,#999 50%,#999 50%);
}

.steps .step-item.is-info.is-active .step-marker {
  background-color: #282828;
}

.step-marker a {
  color: hsl(204, 86%, 53%);
}
.step-marker a:hover {
  color: hsl(204, 86%, 53%);
}

.step-builder-title {
  font-size: 0.8rem!important;
}
.has-text-bck-color {
  color: #282828;
}
.button.is-info.is-inverted {
  background-color: #282828;
  color: #3298dc;
}
.button.is-info.is-inverted:hover {
  background-color: #282828;
}


/* Tabs */
.builder-tabs {
  border-bottom-style: none!important;
}
.builder-tabs li:hover {
  color: #3298dc;
}
.builder-tabs li {
  color: #bdbdbd;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}
.builder-tabs a:hover {
  border-bottom-color: #3298dc;
}

.tabs:not(.is-boxed) li.is-active a {
  border-bottom-color: #3298dc!important;
  color: #3298dc!important;
}




/* Feat Selection */
.feat-selection {
  background-color: var(--selectors-color);
  color: hsl(0, 0%, 82%);
  border: 1px solid hsl(0, 0%, 13%);
  border-radius: 4px;
  line-height: 1.5;
  vertical-align: top;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0.5rem 0;
  text-align: center;
}

.feat-selection.is-default {
  border-color: #3298dc;
}

.feat-selection-dropdown:hover {
  color: hsl(0, 0%, 68%);
  transition:.5s;
}

.feat-selection-list {
  background-color: var(--feat-selection-list-color);
  color: hsl(0, 0%, 76%);
  border: 1px solid hsl(0, 0%, 13%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0px;
  line-height: 1.5;
  vertical-align: top;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
  margin: 0 auto;
}

.feat-selection-list-entry-view {
  text-align: center;
}

.feat-selection-list-entry {
  padding: .25rem 0;
}

.feat-selection-list-entry.is-selected {
  background-color: var(--feat-selection-selected-color);
}

.feat-selection-list-entry.is-prev-selected {
  background-color: var(--feat-selection-selected-color);
  color: hsl(0, 0%, 65%);
}

.feat-selection-is-hovered {
  background-color: var(--feat-selection-hover-color);
}

.feat-selection-level {
  background-color: var(--feat-selection-divider-color);
  color: hsl(0, 0%, 72%);
  font-weight: 800;
  text-align: center;
}

.feat-selection-none {
background-color: var(--feat-selection-divider-color);
color: hsl(0, 0%, 54%);
font-style: italic;
}

.hr-feat-selection {
  border-color: hsl(0, 0%, 17%)!important;
}

.prereq-icon {
  font-size: .6em;
}

.prereq-true {
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(204, 53%, 43%); /* Safari */  
  text-decoration-color: hsl(204, 60%, 49%);
}
.prereq-false {
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(348, 54%, 44%); /* Safari */  
  text-decoration-color: hsl(348, 50%, 52%);
}
.prereq-unknown {
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(48, 43%, 51%); /* Safari */  
  text-decoration-color: hsl(48, 43%, 51%);
}

/* Feat Selection Scrollbar */
.use-feat-selection-scrollbar::-webkit-scrollbar {
  width: 0.35em;
}
.use-feat-selection-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
.use-feat-selection-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--main-scrollbar-lighter-color);
  outline: 1px solid var(--main-scrollbar-lighter-color);
}
.use-feat-selection-scrollbar::-webkit-scrollbar-corner {
  background-color: var(--main-scrollbar-lighter-color);
}