
.campaign-id {
  position: absolute;
  right: 5px;
  top: 2px;
}

.card {
  background-color: #222222;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.card-content {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: var(--character-card-body-color);
}
.card-footer {
  background-color: var(--character-card-footer-color);
  border-top-color: #222222;
}
.card-footer-item {
  border-right-color: #222222!important;
}

.card-content-hover {
  background-color: var(--character-card-body-hover-color);
}
.card-footer-hover {
  background-color: var(--character-card-footer-hover-color);
}

.hr-light {
  border-color: #5a5a5a!important;
}