
.char-id {
  position: absolute;
  right: 5px;
  top: 2px;
}

#icon-character-import>input {
  display: none;
}

hr {
    border-color: #5e5e5e;
    background-color: #5e5e5e;
}

.card {
    background-color: #222222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.card-content {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: rgb(51, 51, 51);
}
.card-footer {
    background-color: rgb(43, 43, 43);
    border-top-color: #222222;
}
.card-footer-item {
    border-right-color: #222222!important;
}

.card-content-hover {
    background-color: rgb(57, 57, 57);
}
.card-footer-hover {
    background-color: rgb(49, 49, 49);
}


.modal-card-head {
    background-color: #353535;
    border-bottom-color: #282828;
}
.modal-card-body {
    background-color: #414141;
}
.modal-card-foot {
    background-color: #353535;
    border-top-color: #282828;
}
.modal-background {
    background-color: rgba(10,10,10,.26)
}