
/* Sticky Side Buttons */
#main-container {
    overflow: visible!important;
}
.sticky_button {
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 50%;
    z-index: 10;
}
.sticky_button.is-upper {
    top: 1rem;
}
.sticky_buttons_shell {
    position: absolute;
    height:100%;
}
.sticky_button_left {
    padding-left: 4%;
}
.sticky_button_right {
    right: 0;
    padding-right: 4%;
}
.sticky_button_leftest {
    padding-left: 1rem;
    padding-top: 1rem;
}
.sticky_button_rightest {
    right: 0;
    padding-right: 1rem;
    padding-top: 1rem;
}

/* Character Export Options */

.character-export-container {
  width: 620px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  margin: 0 auto;
  margin-top: 1.5rem;
}

/* Character Access */

.character-access-container {
  width: 420px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  margin: 0 auto;
  margin-top: 1.5rem;
}


/* Custom Code Block */

#option-custom-code-block-container {
  max-width: 620px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  margin: 0 auto;
  margin-top: 1.5rem;
}

/* Dark Mode Styling */

.button.is-info.is-inverted {
    background-color: var(--main-box-bg-color);
    color: #3298dc;
}

.steps .step-item .step-marker {
    background: #999;
    color: var(--steps-bg-color);
    border-color: var(--steps-bg-color);
}

.steps .step-item::before {
    background: linear-gradient(to left,#999 50%,#999 50%);
}

.steps .step-item.is-info.is-active .step-marker {
    background-color: var(--steps-bg-color);
}

.has-text-bck-color {
    color: var(--main-box-bg-color);
}

.button.is-info.is-inverted:hover {
    background-color: var(--steps-bg-color);
}

.button:hover {
    color: hsl(0, 0%, 82%);
}

.message-header, .card-header {
    background-color: var(--message-header-color);
    border-color: hsl(0, 0%, 13%);
    color: var(--text-header-color);
}

.message.is-info {
  background-color: var(--message-bg-color);
}
.message {
    background-color: var(--message-bg-color);
    border-color: #282828;
}

.message a:not(.button):not(.tag):not(.dropdown-item) {
    text-decoration: none;
}

.card {
    background-color: var(--card-bg-color);
    border-color: #282828;
}

.accordions .accordion {
    border: 1px solid hsl(0, 0%, 12%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.accordions .accordion .accordion-header {
    background-color: var(--accordion-header-bg-color);
    color: hsl(0, 0%, 73%);
}

.accordions .accordion .accordion-header+.accordion-body {
    border-color: #282828;
    background-color: var(--accordion-body-bg-color);
    color: hsl(0, 0%, 80%);
}

.step-marker a {
    color: hsl(204, 86%, 53%);
}
.step-marker a:hover {
    color: hsl(204, 86%, 53%);
}

.feat-attrib {
    color: hsl(0, 0%, 68%);
}

#ability-scores-box {
  background-color: var(--ability-scores-box-bg-color);
}

/* Selections */

#selectedHeritageOption {
    background-color: #f1f1f1;
}

#selectedAncestryOption {
    background-color: #f1f1f1;
}

#selectClass {
    display: flex;
}

.classOption {
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.blendedInLine {
    display: inline;
}

/* General Tab */
.builder-tabs {
    border-bottom-style: none!important;
}
.builder-tabs li:hover {
    color: #3298dc;
}
.builder-tabs li {
    color: #bdbdbd;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}
.builder-tabs a:hover {
    border-bottom-color: #3298dc;
}

/* Steps */
.step-title {
    font-size: 1.0rem!important;
}

/* Class Abilities Tab */
.ability-tabs li:hover {
    color: #3298dc;
}
.ability-tabs li {
    color: #bdbdbd;
}
.ability-tabs a:hover {
    border-bottom-color: #3298dc;
}

.tabs:not(.is-boxed) li.is-active a {
    border-bottom-color: #3298dc!important;
    color: #3298dc!important;
}

.ability-hr {
    border-color: var(--hr-faded-color);
    background-color: var(--hr-faded-color);
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ability-text-section {
    padding: 0 15%;
    text-align: justify;
    text-align-last: center;
}

/* Builder Symbol Link */

.builder-step-icon-info {
    color: inherit;
}

/* Title */
.title, .subtitle {
    text-align: center;
}

/* Abilities */

.ability-block {
    position:relative;
}

.abil-title {
    font-size: xx-large;
    font-family: 'Noto Sans', sans-serif;
}

/* First Page Containers */
.first-page-container {
  height: 600px;
  max-height: 600px;
  overflow-y: auto;
  position: relative;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}
.first-page-split-container {
  height: 277.5px;
  max-height: 277.5px;
  overflow-y: auto;
  position: relative;
}
.first-page-split-container.is-top {
  border-top: 1px solid #363636;
}
.first-page-split-container.is-bottom {
  border-bottom: 1px solid #363636;
}

/* Center Selected Option */

select {
  text-align-last: center;
}

/* Character Options */
.char-options-hr {
    border-color: hsl(0, 0%, 35%);
    background-color: hsl(0, 0%, 35%);
    width: 280px;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Lore Input */
.loreInput {
    width: 130px;
}

/* Resist / Weak Input */
.resistInput, .weakInput {
  width: 130px;
}

/* Loading Spinner */
.wsc-statement-roller {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.wsc-statement-roller div {
  animation: wsc-statement-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 20px 20px;
}
.wsc-statement-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.wsc-statement-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.wsc-statement-roller div:nth-child(1):after {
  top: 31px;
  left: 31px;
}
.wsc-statement-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.wsc-statement-roller div:nth-child(2):after {
  top: 34px;
  left: 28px;
}
.wsc-statement-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.wsc-statement-roller div:nth-child(3):after {
  top: 35px;
  left: 24px;
}
.wsc-statement-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.wsc-statement-roller div:nth-child(4):after {
  top: 36px;
  left: 20px;
}
.wsc-statement-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.wsc-statement-roller div:nth-child(5):after {
  top: 35px;
  left: 16px;
}
.wsc-statement-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.wsc-statement-roller div:nth-child(6):after {
  top: 34px;
  left: 12px;
}
.wsc-statement-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.wsc-statement-roller div:nth-child(7):after {
  top: 31px;
  left: 8px;
}
.wsc-statement-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.wsc-statement-roller div:nth-child(8):after {
  top: 28px;
  left: 6px;
}
@keyframes wsc-statement-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Feat Selection */
.feat-selection {
    background-color: var(--selectors-color);
    color: hsl(0, 0%, 82%);
    border: 1px solid hsl(0, 0%, 13%);
    border-radius: 4px;
    line-height: 1.5;
    vertical-align: top;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.feat-selection.is-default {
    border-color: #3298dc;
}

.feat-selection-dropdown:hover {
    color: hsl(0, 0%, 68%);
    transition:.5s;
}

.feat-selection-list {
    background-color: var(--feat-selection-list-color);
    color: hsl(0, 0%, 76%);
    border: 1px solid hsl(0, 0%, 13%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px;
    line-height: 1.5;
    vertical-align: top;
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    overflow-y: auto;
    margin: 0 auto;
}

.feat-selection-list-entry {
    padding: .25rem 0;
}

.feat-selection-list-entry.is-selected {
    background-color: var(--feat-selection-selected-color);
}

.feat-selection-list-entry.is-prev-selected {
    background-color: var(--feat-selection-selected-color);
    color: hsl(0, 0%, 65%);
}

.feat-selection-is-hovered {
    background-color: var(--feat-selection-hover-color);
}

.feat-selection-level {
    background-color: var(--feat-selection-divider-color);
    color: hsl(0, 0%, 72%);
    font-weight: 800;
}

.feat-selection-none {
  background-color: var(--feat-selection-divider-color);
  color: hsl(0, 0%, 54%);
  font-style: italic;
}

.hr-feat-selection {
    border-color: hsl(0, 0%, 17%)!important;
}

.prereq-icon {
    font-size: .6em;
}

.prereq-true {
    text-decoration: underline;
    -webkit-text-decoration-color: hsl(204, 53%, 43%); /* Safari */  
    text-decoration-color: hsl(204, 60%, 49%);
}
.prereq-false {
    text-decoration: underline;
    -webkit-text-decoration-color: hsl(348, 54%, 44%); /* Safari */  
    text-decoration-color: hsl(348, 50%, 52%);
}
.prereq-unknown {
    text-decoration: underline;
    -webkit-text-decoration-color: hsl(48, 43%, 51%); /* Safari */  
    text-decoration-color: hsl(48, 43%, 51%);
}

/* Feat Selection Scrollbar */
.use-feat-selection-scrollbar::-webkit-scrollbar {
    width: 0.35em;
}
.use-feat-selection-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
.use-feat-selection-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--main-scrollbar-lighter-color);
    outline: 1px solid var(--main-scrollbar-lighter-color);
}
.use-feat-selection-scrollbar::-webkit-scrollbar-corner {
    background-color: var(--main-scrollbar-lighter-color);
}