
/* Sticky Side Buttons */
#main-container {
    overflow: visible!important;
}
.sticky_button {
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 50%;
    z-index: 10;
}
.sticky_button.is-upper {
    top: 1rem;
}
.sticky_buttons_shell {
    position: absolute;
    height:100%;
}
.sticky_button_left {
    padding-left: 4%;
}
.sticky_button_right {
    right: 0;
    padding-right: 4%;
}
.sticky_button_leftest {
    padding-left: 1rem;
    padding-top: 1rem;
}
.sticky_button_rightest {
    right: 0;
    padding-right: 1rem;
    padding-top: 1rem;
}


/* Dark Mode Styling */

.select::after {
    border-color: hsl(0, 0%, 82%)!important;
}

.select:hover::after {
    border-color: #3273dc!important;
}

.button.is-info.is-inverted {
    background-color: #282828;
    color: #3298dc;
}

.steps .step-item .step-marker {
    background: #999;
    color: #282828;
    border-color: #282828;
}

.steps .step-item::before {
    background: linear-gradient(to left,#999 50%,#999 50%);
}

.steps .step-item.is-info.is-active .step-marker {
    background-color: #282828;
}

.has-text-bck-color {
    color: #282828;
}

.has-text-title {
    color: rgb(172, 172, 172);
}

.has-text-value {
    color: rgb(184, 184, 184);
}

.button.is-info.is-inverted:hover {
    background-color: #282828;
}

.button.is-static {
    background-color: hsl(0, 0%, 18%);
    color: hsl(0, 0%, 68%);
}

.button:hover {
    color: hsl(0, 0%, 82%);
}

.message.is-info {
    background-color: hsl(212, 1%, 21%);
}

.message-header, .card-header {
    background-color: hsl(212, 0%, 17%);
    border-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 73%);
}

.message {
    background-color: hsl(212, 0%, 19%);
    border-color: #282828;
}

.message a:not(.button):not(.tag):not(.dropdown-item) {
    text-decoration: none;
}

.card {
    background-color: hsl(212, 1%, 24%);
    border-color: #282828;
}

.accordions .accordion {
    border: 1px solid hsl(0, 0%, 12%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.accordions .accordion .accordion-header {
    background-color: hsl(0, 0%, 16%);
    color: hsl(0, 0%, 73%);
}

.accordions .accordion .accordion-header+.accordion-body {
    border-color: #282828;
    background-color: hsl(0, 0%, 18%);
    color: hsl(0, 0%, 80%);
}

.step-marker a {
    color: hsl(204, 86%, 53%);
}
.step-marker a:hover {
    color: hsl(204, 86%, 53%);
}

li {
    color: hsl(0, 0%, 53%);
}

.feat-attrib, strong {
    color: hsl(0, 0%, 68%);
}

hr {
    border-color: hsl(0, 0%, 68%);
}

#ability-scores-box {
    background-color: hsl(0, 0%, 18%);
}

/* Selections */

#selectedHeritageOption {
    background-color: #f1f1f1;
}

#selectedAncestryOption {
    background-color: #f1f1f1;
}

#selectClass {
    display: flex;
}

.classOption {
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.blendedInLine {
    display: inline;
}

/* General Tab */
.builder-tabs {
    border-bottom-style: none!important;
}
.builder-tabs li:hover {
    color: #3298dc;
}
.builder-tabs li {
    color: #bdbdbd;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}
.builder-tabs a:hover {
    border-bottom-color: #3298dc;
}

/* Class Abilities Tab */
.ability-tabs li:hover {
    color: #3298dc;
}
.ability-tabs li {
    color: #bdbdbd;
}
.ability-tabs a:hover {
    border-bottom-color: #3298dc;
}

.tabs:not(.is-boxed) li.is-active a {
    border-bottom-color: #3298dc!important;
    color: #3298dc!important;
}

.ability-hr {
    border-color: hsl(0, 0%, 35%);
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Builder Symbol Link */

.builder-step-icon-info {
    color: inherit;
}

/* Title */
.title, .subtitle {
    text-align: center;
}

/* Abilities */

.ability-block {
    position:relative;
}

.abil-title {
    font-size: xx-large;
    font-family: 'Noto Sans', sans-serif;
}

/* Center Selected Option */

select {
    text-align-last:center;
}

/* Character Options */
.char-options-hr {
    border-color: hsl(0, 0%, 35%);
    width: 280px;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Lore Input */
.loreInput {
    width: 130px;
}

/* Feat Selection */
.feat-selection {
    background-color: hsl(0, 0%, 21%);
    color: hsl(0, 0%, 82%);
    border: 1px solid hsl(0, 0%, 13%);
    border-radius: 4px;
    line-height: 1.5;
    vertical-align: top;
    width: 400px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.feat-selection.is-default {
    border-color: #3298dc;
}

.feat-selection-dropdown:hover {
    color: hsl(0, 0%, 68%);
    transition:.5s;
}

.feat-selection-list {
    background-color: hsl(0, 0%, 23%);
    color: hsl(0, 0%, 76%);
    border: 1px solid hsl(0, 0%, 13%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px;
    line-height: 1.5;
    vertical-align: top;
    width: 400px;
    max-width: 400px;
    max-height: 600px;
    overflow-y: auto;
    margin: 0 auto;
}

.feat-selection-list-entry {
    padding: .25rem 0;
}

.feat-selection-list-entry.is-selected {
    background-color: hsl(0, 0%, 21%);
}

.feat-selection-list-entry.is-prev-selected {
    background-color: hsl(0, 0%, 21%);
    color: hsl(0, 0%, 65%);
}

.feat-selection-is-hovered {
    background-color: hsl(0, 0%, 20%);
}

.feat-selection-level {
    background-color: hsl(0, 0%, 19%);
    color: hsl(0, 0%, 72%);
    font-weight: 800;
}

.hr-feat-selection {
    border-color: hsl(0, 0%, 17%)!important;
}

/* Feat Selection Scrollbar */
.use-feat-selection-scrollbar::-webkit-scrollbar {
    width: 0.35em;
}
.use-feat-selection-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
.use-feat-selection-scrollbar::-webkit-scrollbar-thumb {
    background-color: #252525;
    outline: 1px solid #252525;
}
.use-feat-selection-scrollbar::-webkit-scrollbar-corner {
    background-color: #252525;
}