
/* Side Nav */
#main-container {
    overflow: visible!important;
}
#docs_nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#doc_nav_shell {
    position: absolute;
    height: 100%;
}

.menu-label a {
    color: hsl(0, 0%, 61%)!important;
}

.menu-list a {
    padding-top: 2px;
    padding-bottom: 1px;
    color: hsl(0, 0%, 79%)!important;
}
.menu-list a:hover {
    color: hsl(0, 0%, 19%)!important;
}

/* Hide docs nav for iPads and smaller */
@media only screen 
and (max-device-width : 1024px) {
    #doc_nav_shell {
        visibility: hidden;
    }
    #docs_content {
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* Other Styles */
p, span {
    color: hsl(0, 0%, 71%);
    font-size: 1rem;
    text-align: justify;
}

.column p, .column span, .code {
  text-align: inherit;
}

strong {
    color: hsl(0, 0%, 76%);
    font-weight: 800;
}

.code-block {
    padding: 0.8rem;
    background-color: #2f2f31;
    font-family: 'Nanum Gothic Coding', monospace;
    color: hsl(0, 0%, 77%);
}

.code {
  background-color: #2f2f31;
  font-family: 'Nanum Gothic Coding', monospace;
  color: hsl(0, 0%, 77%);
}

.code-reponse-block {
  padding: 0.8rem;
  background-color: #2f2f31;
  font-family: 'Nanum Gothic Coding', monospace;
  border-radius: 4px;
}

.info-block {
  margin-left: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0.2rem 0.4rem;
  background-color: #1f5a81;
  border-radius: 4px;
}
.info-block p {
  color: hsl(0, 0%, 80%)!important;
  font-size: 0.85rem!important;
}

.main-title {
    color: hsl(0, 0%, 85%);
    font-weight: 700;
}

.title {
    font-family: monospace;
    color: hsl(0, 0%, 75%);
    text-decoration: underline;
}

.small-title {
    font-family: monospace;
    font-weight: 655;
    color: hsl(0, 0%, 75%);
}

.table-row-a {
    background-color: hsl(240, 2%, 17%);
}

.table-row-b {
    background-color: hsl(240, 2%, 15%);
}