
.modal-card-head {
    background-color: #333333;
    border-bottom-color: #282828;
}
.modal-card-body {
    background-color: #3c3c3c;
}
.modal-card-foot {
    background-color: #333333;
    border-top-color: #282828;
}
.modal-background {
    background-color: rgba(10,10,10,.26)
}
