
.modal-card-head {
    background-color: #353535;
    border-bottom-color: #282828;
}
.modal-card-body {
    background-color: #414141;
}
.modal-card-foot {
    background-color: #353535;
    border-top-color: #282828;
}
.modal-background {
    background-color: rgba(10,10,10,.26)
}
