
#homebrew-container {
  color: #cccccc!important;
}

.section-box {

  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background: var(--main-box-bg-color);
  border: 1px solid var(--main-box-bg-color);
  border-radius: 4px;

}

.sub-section-box {

  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background: var(--main-box-lighter-bg-color);
  border: 1px solid var(--main-box-lighter-bg-color);
  border-radius: 4px;

}

/* Tabs */
.category-tabs li.is-active a {
  color: #303030;
}
.category-tabs li:hover {
  color: #303030;
}

.tabs:not(.is-boxed) li.is-active a {
  border-bottom-color: #3298dc;
  color: #3298dc;
}

/* Select and Input */
.select select:focus, .input:focus {
  border-color: #3298dc!important;
}

.select::after {
  border-color: #b9b9b9!important;
}

/* Containers */
.user-bundle-container {
  max-width: 800px;
  margin: auto;
}

.build-bundle-container {
  max-width: 800px;
  margin: auto;
}

.view-bundle-container {
  max-width: 800px;
  margin: auto;
}

/* Labels */
.field-label {
  flex-grow: 2.5;
}