

@media screen and (max-width:768px){
    
    #inventoryContent {
        height: 490px;
        max-height: 490px;
        overflow-y: scroll;
    }

}

@media screen and (min-width:769px){
    
    #inventoryContent {
        height: 470px;
        max-height: 470px;
        overflow-y: scroll;
    }

}

@media screen and (min-width:937px){
    
    #inventoryContent {
        height: 495px;
        max-height: 495px;
        overflow-y: scroll;
    }

    #acText {
        margin-top: 0.5em;
        font-size: 1rem;
    }
    #acNumber {
        font-size: 1.25rem;
    }
    #shieldText {
        margin-top: 0.5em;
        font-size: 0.75rem;
    }
    #shieldBonus {
        font-size: 1.25rem;
    }

}

@media screen and (min-width:1280px){

    #acText {
        margin-top: 0;
        font-size: 1.25rem;
    }
    #acNumber {
        font-size: 1.5rem;
    }
    #shieldText {
        margin-top: 0;
        font-size: 1rem;
    }
    #shieldBonus {
        font-size: 1.5rem;
    }

}

@media screen and (min-width:1472px){
}

.sheet-box {

    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    background: #282828;
    border: 1px solid #282828;
    color: #cccccc;
    border-radius: 4px;

}

.sheet-small-box {

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background: #363636;
    border: 1px solid #363636;
    color: #cccccc;
    border-radius: 43%;

}

.card-header {
    background-color: hsl(0, 0%, 17%);
    border-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 73%);
}

.card {
    background-color: hsl(212, 1%, 19%);
    border-color: #282828;
}


/* Tabs */
.sheet-tabs li.is-active a {
    color: #303030;
}
.sheet-tabs li:hover {
    color: #303030;
}

.action-tabs li:hover {
    color: #3298dc;
}
.action-tabs a:hover {
    border-bottom-color: #3298dc;
}

.spell-tabs li:hover {
    color: #3298dc;
}
.spell-tabs a:hover {
    border-bottom-color: #3298dc;
}

.details-tabs li:hover {
    color: #3298dc;
}
.details-tabs a:hover {
    border-bottom-color: #3298dc;
}

.category-tabs li {
    color: #dbdbdb;
}
.category-tabs li:hover {
    color: #3298dc;
}
.category-tabs a:hover {
    border-bottom-color: #3298dc;
}

.tabs:not(.is-boxed) li.is-active a {
    border-bottom-color: #3298dc;
    color: #3298dc;
}


/* Darkmode Styles */
.input, .select select, .textarea {
    background-color: hsl(0, 0%, 18%);
    border-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 86%);
}

.input-background-color {
    background-color: hsl(0, 0%, 18%);
}

.input:hover, .select select:hover, .textarea:hover {
    border-color: hsl(0, 0%, 10%);
}

.select::after {
    border-color: hsl(0, 0%, 86%)!important;
}

.select:hover::after {
    border-color: #3273dc!important;
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
    color:rgba(219,219,219,.4);
}

.label {
    color: #b9b9b9;
}

strong {
    color: #b9b9b9;
    font-weight: 800;
}

.hr-highlighted {
    border-color: #444444!important;
}

.hr-light {
    border-color: #5a5a5a!important;
}


/* Background Images */
.background-ac {
    background: 50% transparent url("../images/ac_background.png") no-repeat;
    background-size: contain;
}
.background-shield {
    background: 50% transparent url("../images/shield_background.png") no-repeat;
    background-size: contain;
}

/* For InvItem Property Runes */
.select.is-success-dark select {
    border-color: #47885e;
}

/* Companions */
.companion-icon {
    width: 64px!important;
    height: 64px!important;
    object-fit: cover!important;
}

.companion-bonus-offset {
    padding-right: 0.5rem!important;
}