/* Reset Code */
body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Nunito Sans', sans-serif;
}

body a,
body button {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
	 cursor: pointer !important;
}

body a:hover,
body button:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	 cursor: pointer !important;
}

html {
    scroll-behavior: smooth;
    overflow-y: auto;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(189, 189, 189);
}

p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: rgb(172, 172, 172);
    font-family: 'Nunito Sans', sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

/* Style External Links */
.external-link,
.external-link:focus,
.external-link:hover {
    color: currentColor;
    text-decoration: underline;
}

/* Header */

.main-top {
    color: #161616;
    position: relative;
}

.top-border {
    background-color: #282828;
    height: 1px;
}

header {
    position: absolute;
    width: 100%;
    z-index: 9;
}

/* More Bolds */
.has-text-weight-very-bold {
    font-weight: 900;
}

/* Bulma Expansions */
.button.is-very-small {
    font-size: 0.6rem!important;
}
.is-underlined {
    text-decoration: underline;
}
.is-size-8 {
    font-size: 0.5rem!important;
}
.is-size-6-5 {
    font-size: 1.1rem!important;
}

/* Cursors */

.cursor-clickable {
    cursor: pointer!important;
}

.cursor-nonclickable {
    cursor: default!important;
}

/* Backgrounds */
.background-ac {
    background: 50% transparent url("../images/ac_background.png") no-repeat;
    background-size: contain;
}
.background-shield {
    background: 50% transparent url("../images/shield_background.png") no-repeat;
    background-size: contain;
}

/* Core (Header - Body - Footer) Placement */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    background-color: #1C1C1C;
}

#main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 58px; /* height of footer */
}

#apeiron-footer {
    position: absolute;
    background: #161616;
    bottom: 0;
    width: 100%;
}


/* Main Body */
.center-body {
    background-color: #1C1C1C;
    /* background-image: url("../images/builder_background.png"); */
    position: relative;
}

/* Indent all but first line of paragraph */
.negative-indent {
    margin-left: 20px;
    text-indent: -20px;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0.3em;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border:1px #1d1d1d solid;
}
body::-webkit-scrollbar-thumb {
    background-color: #080808;
    outline: 1px solid #080808;
}

.use-custom-scrollbar::-webkit-scrollbar {
    width: 0.35em;
}
.use-custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
.use-custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #181818;
    outline: 1px solid #181818;
}

.use-invisible-scrollbar::-webkit-scrollbar {
    width: 0em;
}

/* navigation */
/* CSS Document */
.toggle-2,
.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */
nav {
    margin: 0;
    padding: 0;
}



#logo a {
    float: left;
    display: initial;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    padding: 0;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 0px;
    float: left;
}

/* Styling the links */
nav a {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    padding: 7px 12px;
    border-radius: 4px;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}


nav ul li ul li:hover {
    color: #000;
    background: #f8f9fa;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/* Background color change on Hover */
.menu li a.active,
.menu li a:hover {
    color: #333;
    background: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 36px;
    background: #333;
    padding: 10px;
    border-radius: 4px;
    z-index: 9;
}

/* Display Dropdowns on Hover */
nav ul li:hover>ul {
    display: inherit;
}

/* First Tier Dropdown */
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    margin: 3px;
    border-radius: 4px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

nav ul ul li a {
    color: #fff;
    padding: 5px 10px;
    display: block;
    font-size: 14px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

/* Media Queries
--------------------------------------------- */
@media(max-width: 800px) {
    nav a {
        font-size: 14px;
    }

    #logo a {
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    nav a {
        padding: 6px 9px;
    }
}

@media all and (max-width : 736px) {
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle+a,
    .menu {
        display: none;
    }

    /* Styling the toggle lable */
    .toggle {
        display: none;
        padding: 8px 14px;
        font-size: 15px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #fff;
        color: #000;
        border-radius: 4px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        max-width: 105px;
        padding: 5px;
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .toggle:hover {
        color: #fc4242;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
	label.toggle.toogle-2:hover {
		color: #333!important;
		background: #fff;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		-ms-transition: 0.5s all;
	}
	label.toggle.toogle-2 {
		background: transparent;
		color: #fff;
	}

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
        background: rgba(0, 0, 0, 0.84);
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
        padding: 5px 0;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }

    /* 
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    } */

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #fff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }

    /* First Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */

    }

    nav a {
        font-size: 15px;
    }

    nav ul ul li a {
        font-size: 15px;
    }


}

@media all and (max-width : 375px) {

    nav a,
    .menu .toggle {
        font-size: 14px;
        font-size: 14px;
    }

    .toggle {
        padding: 7px 12px;
        font-size: 14px;
    }
}

/*-- profile header icon --*/
.profile-header-icon {
	
	border-radius: 50%;
	width: 38px;
	height: 38px;
	border: 1px solid black;
	
}

/* banner */

.w3ls_banner_txt {
    margin-top: 23%;
    margin-bottom: 23%;
}

.w3ls_banner_txt p {
    color: #eee;
}

h3.w3ls_pvt-title {
    font-size: 3em;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    font-weight: bold;
}

.w3ls_banner_txt h5 {
    font-weight: 400;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.button-style {
    padding: 11px 20px;
    border: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    border: 2px solid #fff;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	opacity:0.7;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.button-style-2 {
    background: transparent;
    border-color: #fff;
}

.button-style:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
	opacity:1;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	
}

.button-style-2:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
	opacity:1;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	
}

/* banner responsive */

@media(max-width: 1366px) {

    h3.w3ls_pvt-title {
        font-size: 3.8em;
    }

}

@media(max-width: 1080px) {

    h3.w3ls_pvt-title {
        font-size: 3.2em;
    }

}

@media(max-width: 1024px) {
    h3.w3ls_pvt-title {
        font-size: 2.8em;
    }
}

@media(max-width: 900px) {

    h3.w3ls_pvt-title {
        font-size: 2.8em;
    }

}

@media(max-width: 736px) {
    h3.w3ls_pvt-title {
        font-size: 2.6em;
    }
}

@media(max-width: 667px) {
    h3.w3ls_pvt-title {
        font-size: 2.4em;
    }

    .button-style {
        padding: 10px 20px;
        font-size: 13px;
    }
}

@media(max-width: 568px) {
    .team-grid {
        text-align: center;
    }
}

@media(max-width: 480px) {
    h3.w3ls_pvt-title {
        font-size: 2em;
    }

}

@media(max-width: 440px) {
    .button-style {
        padding: 9px 16px;
        font-size: 12px;
    }

    .w3ls_banner_txt.text-right.ml-auto.pr-xl-0.pr-sm-4.pr-5 {
        padding-right: 2em !important;
    }

    .w3ls_banner_txt.pl-xl-0.pl-sm-4.pl-5 {
        padding-left: 2em !important;
    }
}

@media(max-width: 384px) {
    h3.w3ls_pvt-title {
        font-size: 1.8em;
    }

    .w3ls_banner_txt p {
        font-size: 13px;
    }
}

@media(max-width: 320px) {}

/* about */
h3.title-w3 {
    font-size: 42px;
}

h3.title-w2 {
    font-size: 24px;
}

p.wstyles {
    max-width: 1000px;
}

/* copyright */

.cpy-right p {
    letter-spacing: 2px;
    font-size: 14px;
}

.cpy-right p a {
    color: #a7a7a7;
}

/* banners */
.banner_w3lspvt-2 {
    background: #101010 no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 80px;
}

.banner_w3lspvt-1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

a.banner-1-artist {
    position: absolute;
    bottom: 2%;
    right: 4%;
    font-size: 1em;
    color: #fff;
}

.banner-1-image-report {
    position: absolute;
    bottom: 2%;
    left: 1%;
    font-size: 1em;
    color: #fff;
}

/* page details */
.breadcrumb li a {
    color: #fff;
    background: #313131;
    padding: 8px 18px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    letter-spacing: 1px;
}

.breadcrumb-item.active {
    padding-top: .5em;
    font-size: 15px;
    letter-spacing: 1px;
}

/* team */
.caption {
    text-align: center;
}

.team-text h4 {
    font-size: 26px;
    color: #000;
    letter-spacing: 1px;
    margin: 1.2em 0 .8em;
    font-weight: 600;
}

.caption ul li {
    display: inline-block;
}

.caption ul li:nth-child(2) {
    margin: 0 .3em;
}

.caption ul li a i {
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 2.2;
}

.caption ul li a i:hover {
    transform: rotateY(360deg);
    transition: .5s all;
}

.caption ul li a i.f1 {
    background: #3b5998;
}

.caption ul li a i.f2 {
    background: #00aced;
}

.caption ul li a i.f3 {
    background: #F44336;
}

/* popup */
.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 4px;
    max-width: 500px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #686de0;
}

/* contact */
.agileinfo_mail_grid_right,
.comment-bottom {
    background: #f7f7f7;
    padding: 2em;
    box-shadow: 7px 7px 10px 0 rgba(56, 56, 56, 0.21);
}

.agileinfo_mail_grid_right input[type="text"],
.agileinfo_mail_grid_right input[type="email"],
.agileinfo_mail_grid_right textarea {
    outline: none;
    padding: 12px;
    font-size: 16px;
    color: #555;
    width: 100%;
    border: 1px solid #E6E6E6;
}

.agileinfo_mail_grid_right textarea {
    min-height: 180px;
    width: 100% !important;
    resize: none;
}

.agileinfo_mail_grid_right button {
    outline: none;
    padding: 11px 0;
    font-size: 16px;
    color: #fff;
    background: #ff9900;
    width: 100%;
    border: none;
    letter-spacing: 2px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
	opacity:0.7;
}

.agileinfo_mail_grid_right button:hover {
    background: #ff9900;
	opacity:1;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.contact-left-w3ls span {
    font-size: 2em;
    color: #000;
}

.contact-left-w3ls h4 {
    color: #000;
    font-size: 1.3em;
    margin-bottom: .5em;
}

.contact-left-w3ls p a {
    color: #8d8d8d;
}

.contact-left-w3ls p a:hover {
    color: #efb312;
}

.contact-left-w3ls h3 {
    font-size: 30px;
    color: #ff9900;
    margin-bottom: 1.5em;
}

.map iframe {
    width: 100%;
    min-height: 400px;
    margin-bottom: -6px;
}

@media(max-width: 1680px) {}

@media(max-width: 1600px) {}

@media(max-width: 1440px) {
    h3.title-w3 {
        font-size: 40px;
    }
	
	h3.title-w2 {
        font-size: 32px;
    }

    p.counter {
        font-size: 3.2em;
    }
}

@media(max-width: 1366px) {}

@media(max-width: 1280px) {
    h3.title-w3 {
        font-size: 38px;
    }
	
	h3.title-w2 {
        font-size: 30px;
    }

    a.text-cati {
        font-size: 15px;
    }

    .map iframe {
        min-height: 350px;
    }
}

@media(max-width: 1080px) {
    p {
        font-size: 14px;
    }

    p.title-sub-2 {
        font-size: 17px;
    }

    .bottom-gd-icon span {
        font-size: 2.5em;
    }

    p.counter {
        font-size: 2.8em;
    }

    .blog-title-in {
        font-size: 19px;
    }

    .right-blog-wthree {
        padding: 1.7em 1.5em 1.5em;
    }

    a.button-style-3 {
        font-size: 15px;
    }

    .test-info h3 {
        font-size: 18px;
    }

    .footer-text p,
    .contact-info p a,
    .contact-info p,
    .footer-grid_section_1its p {
        font-size: 14px;
    }

    h3.footer-title,
    h2.footer-title {
        font-size: 19px;
    }

    .subscribe_form button {
        font-size: 14px;
        padding: 13px 18px;
    }

    .bottom-gd h3 {
        font-size: 23px;
    }

    .popup {
        margin: 5em auto;
    }
}

@media(max-width: 1050px) {
    .map iframe {
        min-height: 320px;
    }

    .contact-left-w3ls h3 {
        font-size: 25px;
    }
}

@media(max-width: 1024px) {}

@media(max-width: 991px) {
    h3.title-w3 {
        font-size: 36px;
    }
	
	h3.title-w2 {
        font-size: 28px;
    }

    .w3layouts_stats_left {
        padding: 0 .5em;
    }

    .test-info h3 {
        font-size: 16px;
    }

    .subscribe_form input[type="email"] {
        width: 100%;
        font-size: 13px;
    }

    .subscribe_form button {
        width: 100%;
    }

    p.counter {
        font-size: 2.5em;
    }

    .gal-img {
        padding: 0 .5em;
    }

    .contact-left-w3ls span {
        font-size: 1.8em;
    }

    .contact-left-w3ls h4 {
        font-size: 1.2em;
    }
}

@media(max-width: 900px) {}

@media(max-width: 768px) {}

@media(max-width: 736px) {
    h3.title-w3 {
        font-size: 34px;
    }
	
	h3.title-w2 {
        font-size: 26px;
    }

    p.title-sub {
        font-size: 13px;
    }

    .blog-title-in {
        font-size: 18px;
    }

    .test-info h3 {
        font-size: 16px;
        max-width: 200px;
        margin: 0 auto;
    }

    .subscribe_form input[type="email"] {
        width: 70%;
    }

    .subscribe_form button {
        width: 30%;
    }

    .team-text h4 {
        font-size: 25px;
        margin: .5em 0;
    }
}

@media(max-width: 667px) {}

@media(max-width: 640px) {}

@media(max-width: 600px) {
    .cpy-right p {
        font-size: 13px;
    }
}

@media(max-width: 568px) {
    .foot-icon-w3 {
        text-align: center;
    }

    .gal-img {
        padding: 0 1em;
    }
}

@media(max-width: 480px) {
    h3.title-w3 {
        font-size: 32px;
    }
	
	h3.title-w2 {
        font-size: 20px;
    }

    p.counter {
        font-size: 2.5em;
    }

    .cpy-right p {
        letter-spacing: 1px;
    }

    .popup {
        margin: 5em 1em;
    }

    .map iframe {
        min-height: 280px;
    }
}

@media(max-width: 384px) {
    h3.title-w3 {
        font-size: 30px;
    }
	
	h3.title-w2 {
        font-size: 20px;
    }

    p.title-sub {
        font-size: 12px;
    }

    #logo a {
        font-size: 36px;
    }

    .toggle {
        padding: 7px 12px;
        font-size: 14px;
    }

    .team-text h4 {
        font-size: 22px;
        margin: .8em 0 .5em;
    }

    .popup {
        padding: 3em 1.5em 1.5em;
    }
}

@media(max-width: 375px) {

    h3.footer-title,
    h2.footer-title {
        font-size: 18px;
    }

    .contact-left-w3ls h3 {
        font-size: 24px;
    }
}

@media(max-width: 320px) {
    h3.title-w3 {
        font-size: 27px;
    }
	
	h3.title-w2 {
        font-size: 16px;
    }

    p {
        font-size: 13px;
    }

    p.counter {
        font-size: 2.3em;
    }

    .footer-text p,
    .contact-info p a,
    .contact-info p,
    .footer-grid_section_1its p {
        font-size: 13px;
    }

    .breadcrumb li a {
        font-size: 12px;
    }

    .breadcrumb-item.active {
        font-size: 14px;
    }

    #logo a {
        font-size: 34px;
    }

    .map iframe {
        min-height: 250px;
    }
}