<div id="campaign-container" class="section-box has-back-to-top" style="position: relative;">

  <span style="position: absolute; top: 0px; left: 0px;" id="campaign-back-btn"
    class="icon is-large has-text-info cursor-clickable is-hidden">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>
  <span style="position: absolute; top: 2px; right: 5px;" id="campaign-source"
    class="is-size-7 has-txt-noted is-italic">
  </span>

  <div class="mx-5 my-2 mobile-is-marginless p-1">
    <p id="campaign-name" class="is-size-3 is-bold-very has-txt-listing title-font has-text-centered"></p>
    <p class="is-size-6 has-text-centered"><span class="is-italic">Access Code: </span><span id="campaign-access-code"
        class="is-thin has-txt-value-string"></span></p>

    <div class="mb-4">
      <div id="campaign-description" class="has-text-left"></div>
    </div>

    <div class="is-hidden-mobile" style="position: absolute; top: 5px; right: 5px; max-width: 60%; max-height: 20vh;">
      <img id="campaign-artwork-img" src="" style="max-height: 20vh;">
    </div>

    <div class="columns is-marginless is-hidden-mobile">
      <div class="column is-1 is-paddingless">
        <!-- Sheet btn -->
      </div>
      <div class="column is-3 text-left is-paddingless">
        <p class="pl-3"><strong class="has-txt-listing">Name</strong></p>
      </div>
      <div class="column is-1 is-paddingless">
        <!-- View btn -->
      </div>
      <div class="column is-2 text-center is-paddingless">
        <p><strong class="has-txt-listing">HP</strong></p>
      </div>
      <div class="column is-4 text-left is-paddingless">
        <p class="pl-3"><strong class="has-txt-listing">Conditions</strong></p>
      </div>
      <div class="column is-1 is-paddingless">
        <!-- Delete btn -->
      </div>
    </div>
    <div class="is-divider hr-light is-marginless"></div>
    <div id="campaign-players">
    </div>

  </div>

</div>