
<div id="background-container" class="section-box" style="position: relative;">

  <span style="position: absolute; top: 0px; left: 0px;" id="background-back-btn" class="icon is-large has-text-info cursor-clickable">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>
  <span style="position: absolute; top: 2px; right: 5px;" id="background-source" class="is-size-7 has-text-grey is-italic">
  </span>

  <div class="mx-5 my-2">
    <p id="background-name" class="is-size-3 is-bold-very has-text-grey-light font-forum has-text-centered"></p>
    <p id="background-description" class="is-italic has-text-center-justified pb-2"></p>
    
    <p class="is-size-4 is-bold text-center">Boosts</p>
    <div class="s-s-box has-background-black-ter columns mb-3">
      <div class="column">
        <p id="background-boost-one" class="is-bold text-center"></p>
      </div>
      <div class="column">
        <p id="background-boost-two" class="is-bold text-center"></p>
      </div>
    </div>
  </div>

</div>