
<div id="ancestry-container" class="section-box" style="position: relative;">

  <span style="position: absolute; top: 0px; left: 0px;" id="ancestry-back-btn" class="icon is-large has-text-info cursor-clickable">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>
  <span style="position: absolute; top: 2px; right: 5px;" id="ancestry-source" class="is-size-7 has-text-grey is-italic">
  </span>

  <div class="mx-5 my-2">
    <p id="ancestry-name" class="is-size-3 is-bold-very has-text-grey-light title-font has-text-centered"></p>
    <p id="ancestry-description" class="is-italic has-text-center-justified pb-2"></p>
    <div class="s-s-box columns">
      <div class="column">
        <p class="is-size-5 is-bold text-center">Boosts</p>
        <p id="ancestry-boosts" class=" text-center"></p>
      </div>
      <div class="column">
        <p class="is-size-5 is-bold text-center">Flaws</p>
        <p id="ancestry-flaws" class=" text-center"></p>
      </div>
    </div>

    <div>
      <div class="columns">
        <div class="column">
          <p class="is-bold text-center">Hit Points</p>
          <p id="ancestry-hitPoints" class="text-center is-size-5 is-thin"></p>
        </div>
        <div class="column">
          <p class="is-bold text-center">Size</p>
          <p id="ancestry-size" class="text-center is-size-5 is-thin"></p>
        </div>
        <div class="column">
          <p class="is-bold text-center">Speed</p>
          <p id="ancestry-speed" class="text-center is-size-5 is-thin"></p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p class="is-size-5 is-bold text-center">Languages</p>
          <p id="ancestry-languages" class="text-center"></p>
          <p id="ancestry-languages-bonus" class="text-center is-thin"></p>
        </div>
        <div class="column">
          <p class="is-size-5 is-bold text-center">Senses</p>
          <p id="ancestry-senses" class="text-center"></p>
        </div>
        <div class="column">
          <p class="is-size-5 is-bold text-center">Extra Features</p>
          <p id="ancestry-phyFeatures" class="text-center"></p>
        </div>
      </div>
    </div>

    <hr class="m-2">

    <p class="is-size-4 is-bold has-text-centered">Heritages</p>
    <div id="ancestry-heritages" class="s-s-box p-2">
    </div>

    <hr class="m-2">

    <p class="is-size-4 is-bold has-text-centered">Ancestry Feats</p>
    <div id="ancestry-feats" class="s-s-box">
    </div>

  </div>

</div>