
<div id="uni-heritage-container" class="section-box" style="position: relative;">

  <span style="position: absolute; top: 0px; left: 0px;" id="uni-heritage-back-btn" class="icon is-large has-text-info cursor-clickable">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>
  <span style="position: absolute; top: 2px; right: 5px;" id="uni-heritage-source" class="is-size-7 has-text-grey is-italic">
  </span>

  <div class="mx-5 my-2">
    <p id="uni-heritage-name" class="is-size-3 is-bold-very has-text-grey-light title-font has-text-centered"></p>
    <div class="mb-4">
      <div style="float: right; max-width: 15vw; max-height: 40vh;">
        <img id="uni-heritage-artwork-img" src="" style="max-height: 40vh;">
      </div>
      <div id="uni-heritage-description" class="has-text-left"></div>
    </div>

    <p class="is-size-4 is-bold has-text-centered">Heritage Feats</p>
    <div id="uni-heritage-feats" class="s-s-box">
    </div>

  </div>

</div>