
<div id="class-container" class="section-box has-back-to-top" style="position: relative;">

  <span style="position: absolute; top: 0px; left: 0px;" id="class-back-btn" class="icon is-large has-text-info cursor-clickable">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>
  <span style="position: absolute; top: 2px; right: 5px;" id="class-source" class="is-size-7 has-txt-noted is-italic">
  </span>

  <div class="mx-5 my-2">
    <p id="class-name" class="is-size-3 is-bold-very has-txt-listing title-font has-text-centered"></p>
    <div class="mb-4">
      <div style="float: right; max-width: 15vw; max-height: 40vh;">
        <img id="class-artwork-img" src="" style="max-height: 40vh;">
      </div>
      <div id="class-description" class="has-text-left"></div>
    </div>

    <div class="s-s-box columns">
      <div class="column">
        <p class="is-size-5 is-bold">Key Ability</p>
        <p id="class-key-ability" class="is-bold"></p>
        <p id="class-key-ability-desc" class="is-thin"></p>
      </div>
      <div class="column">
        <p class="is-size-5 is-bold">Hit Points</p>
        <p id="class-hit-points" class="is-bold"></p>
        <p class="is-thin">You increase your max HP by this number at 1st level and every level thereafter.</p>
      </div>
    </div>

    <div>
      <div class="columns">
        <div class="column">
          <p class="is-size-5 is-bold text-center">Perception</p>
          <p id="class-perception" class="text-center"></p>
        </div>
        <div class="column">
          <p class="is-size-5 is-bold text-center">Saving Throws</p>
          <p id="class-saving-throw-fort" class="text-center"></p>
          <p id="class-saving-throws-reflex" class="text-center"></p>
          <p id="class-saving-throws-will" class="text-center"></p>
        </div>
        <div class="column">
          <p class="is-size-5 is-bold text-center">Attacks</p>
          <div id="class-attacks" class="text-center"></div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p class="is-size-5 is-bold text-center">Skills</p>
          <p id="class-skills" class="text-center"></p>
          <p id="class-skills-extra" class="text-center"></p>
        </div>
        <div class="column">
          <p class="is-size-5 is-bold text-center">Class DC</p>
          <p id="class-class-dc" class="text-center"></p>
        </div>
        <div class="column">
          <p class="is-size-5 is-bold text-center">Defenses</p>
          <div id="class-defenses" class="text-center"></div>
        </div>
      </div>
    </div>

    <hr class="m-2">

    <p class="is-size-4 is-bold has-text-centered">Class Features</p>
    <div class="field has-addons has-addons-centered">
      <div class="control">
        <div class="select is-medium">
          <select id="class-features-level-select" style="background-color: var(--selectors-color);">
            <option value="1">1st Level</option>
            <option value="2">2nd Level</option>
            <option value="3">3rd Level</option>
            <option value="4">4th Level</option>
            <option value="5">5th Level</option>
            <option value="6">6th Level</option>
            <option value="7">7th Level</option>
            <option value="8">8th Level</option>
            <option value="9">9th Level</option>
            <option value="10">10th Level</option>
            <option value="11">11th Level</option>
            <option value="12">12th Level</option>
            <option value="13">13th Level</option>
            <option value="14">14th Level</option>
            <option value="15">15th Level</option>
            <option value="16">16th Level</option>
            <option value="17">17th Level</option>
            <option value="18">18th Level</option>
            <option value="19">19th Level</option>
            <option value="20">20th Level</option>
          </select>
        </div>
      </div>
    </div>

    <div id="class-features" class="s-s-box p-2">
    </div>

    <hr class="m-2">

    <p class="is-size-4 is-bold has-text-centered">Class Feats</p>
    <div id="class-feats" class="s-s-box">
    </div>

  </div>

</div>