
<div id="archetype-container" class="section-box has-back-to-top" style="position: relative;">

  <span style="position: absolute; top: 0px; left: 0px;" id="archetype-back-btn" class="icon is-large has-text-info cursor-clickable is-hidden">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>
  <span style="position: absolute; top: 2px; right: 5px;" id="archetype-source" class="is-size-7 has-txt-noted is-italic">
  </span>

  <div class="mx-5 my-2 mobile-is-marginless p-1">
    <p id="archetype-name" class="is-size-3 is-bold-very has-txt-listing title-font has-text-centered"></p>
    <p id="archetype-description" class="is-italic has-text-center-justified pb-2"></p>

    <div id="archetype-ded-feat-container" class="s-s-box has-bg-selectable cursor-clickable my-4">
      <p class="p-1"><span id="archetype-ded-feat-name" class="pl-3"></span><span id="archetype-ded-feat-level" class="is-size-7 has-txt-noted is-italic is-pulled-right pr-2"></span></p>
    </div>

    <p class="is-size-4 is-bold has-text-centered">Archetype Feats</p>
    <div id="archetype-feats" class="s-s-box">
    </div>

  </div>

</div>