
.quickview-header {
  background-color: var(--quickview-header-bg-color);
  border-bottom-color: #303030;
}
.quickview {
  background-color: var(--quickview-body-bg-color);
}
.quickview-body {
  background-color: var(--quickview-body-bg-color);
}

/* Misc */
.border-additems {
  border-color: hsl(0, 0%, 19%)!important;
}