
{{#section 'header'}}
    <link rel="stylesheet" href="/css/char-builder.css">
    <script type="text/javascript" src="/js/char_builders/char-builder-3.js"></script>

    <script type="text/javascript" src="/js/char_builders/wsc/init-processing.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-boosts.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-feats.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-langs.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-lore.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-skills.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-profs.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-spells.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-spells-innate.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-spells-focus.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-resistances.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-domains.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-specializations.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-notes.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-charTags.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-phyFeats.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-senses.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-speeds.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-familiarity.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/wsc-keyAbility.js"></script>
    <script type="text/javascript" src="/js/char_builders/wsc/display-structs.js"></script>
    
    <script type="text/javascript" src="/js/wsc/text-processing.js"></script>
    <script type="text/javascript" src="/js/wsc/expression-processing.js"></script>
    <script type="text/javascript" src="/js/wsc/statement-processing.js"></script>
    <script type="text/javascript" src="/js/wsc/errorHandling.js"></script>

    <script type="text/javascript" src="/js/char_builders/utils.js"></script>
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters" class="active">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="pageloader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div class="page_change_buttons_shell page_change_button_left">
    <button class="button is-info is-rounded page_change_button" id="prevButton">
        <span class="icon">
            <i class="fas fa-arrow-left"></i>
        </span>
    </button>
</div>

<div class="page_change_buttons_shell page_change_button_right">
    <button class="button is-info is-rounded page_change_button" id="nextButton">
        <span class="icon">
            <i class="fas fa-arrow-right"></i>
        </span>
    </button>
</div>

<div id="char-builder" class="container py-4 text-center">
    
    <div id="errorDisplay" class="hero is-danger is-hidden">
        <div class="hero-body is-paddingless py-3">
            <div id="errorMessage" class="container"></div>
        </div>
    </div>

    <div class="box is-marginless">

        <h1 class="title is-1 font-forum has-text-grey-light">Character Builder</h1>

        <div class="steps">
            <div class="step-item is-completed is-info">
                <div class="step-marker">
                <a href="page1?"><span class="has-text-bck-color icon"><i class="fa fa-user-alt"></i></span></a>
                </div>
                <div class="step-details is-hidden-touch">
                    <a href="page1?" class="button is-rounded is-inverted is-info"><p class="step-title">Basics</p></a>
                </div>
            </div>
            <div class="step-item is-completed is-info">
                <div class="step-marker"><a href="page2?"><span class="has-text-bck-color">A</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page2?" class="button is-rounded is-inverted is-info"><p class="step-title">Ancestry</p></a>
                </div>
            </div>
            <div class="step-item is-active is-info">
                <div class="step-marker"><a href="page3?"><span class="">B</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page3?" class="button is-rounded is-inverted is-info"><p class="step-title">Background</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker"><a href="page4?"><span class="has-text-bck-color">C</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page4?" class="button is-rounded is-inverted is-info"><p class="step-title">Class</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">
                <a href="page5?"><span class="has-text-bck-color icon"><i class="fa fa-flag"></i></span></a>
                </div>
                <div class="step-details is-hidden-touch">
                    <a href="page5?" class="button is-rounded is-inverted is-info"><p class="step-title">Finalize</p></a>
                </div>
            </div>
        </div>

        <div class="field">
            <div id="selectBackgroundControlShell" class="select is-medium">
                <select id="selectBackground" name="{{character.backgroundID}}">
                </select>
            </div>
        </div>

        <article id="isArchivedMessage" class="message is-hidden">
            <div class="message-header is-block text-center">
                <p class="has-text-grey-lighter font-noto-sans is-size-5 has-text-weight-bold">Archived Background</p>
            </div>
            <div class="message-body has-text-grey-light font-noto-sans">
                This background has been archived, likely because there is a new version available. Archived versions may eventually be removed so we highly recommend updating your character to the newest version when available.
            </div>
        </article>

        <div class="background-content">

            <article class="message is-info is-marginless">
                <div id="backgroundDescription" class="message-body"></div>
            </article>

            <div class="is-inline-block pt-2">
                <p class="is-size-4 has-text-title has-text-weight-semibold">Boosts</p>
                <div id="backBoostSection">
                </div>
            </div>

            <div class="columns is-centered">
                <div id="backgroundCodeOutput" class="column is-8">
                </div>
            </div>

        </div>

    </div>

</div>