
{{#section 'header'}}
    <link rel="stylesheet" href="/css/char-builder.css">
    <script type="text/javascript" src="/js/char_builders/char-builder-2.js"></script>

    <script type="text/javascript" src="/js/asc-text-processing.js"></script>

    <script type="text/javascript" src="/js/char_builders/asc/init-processing.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc/asc-boosts.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc/asc-feats.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc/asc-langs.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc/asc-lore.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc/asc-skills.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc/asc-profs.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc/asc-spells.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc/display-structs.js"></script>
    <script type="text/javascript" src="/js/sheet/sheet-asc-processing.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc/errorHandling.js"></script>

    <script type="text/javascript" src="/js/char_builders/utils.js"></script>
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters" class="active">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="pageloader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div id="char-builder" class="container py-4 text-center">
    
    <div id="errorDisplay" class="hero is-danger is-hidden">
        <div class="hero-body is-paddingless py-3">
            <div id="errorMessage" class="container"></div>
        </div>
    </div>

    <div class="box">

        <h1 class="title is-1 font-forum has-text-grey-light">Character Builder</h1>

        <div class="steps">
            <div class="step-item is-completed is-link">
                <div class="step-marker">
                <a href="page1?"><span class="has-text-bck-color icon"><i class="fa fa-user-alt"></i></span></a>
                </div>
                <div class="step-details is-hidden-touch">
                    <a href="page1?" class="button is-rounded is-inverted is-link"><p class="step-title">Basics</p></a>
                </div>
            </div>
            <div class="step-item is-active is-link">
                <div class="step-marker"><a href="page2?"><span class="">A</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page2?" class="button is-rounded is-inverted is-link"><p class="step-title">Ancestry</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker"><a href="page3?"><span class="has-text-bck-color">B</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page3?" class="button is-rounded is-inverted is-link"><p class="step-title">Background</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker"><a href="page4?"><span class="has-text-bck-color">C</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page4?" class="button is-rounded is-inverted is-link"><p class="step-title">Class</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">
                <a href="page5?"><span class="has-text-bck-color icon"><i class="fa fa-flag"></i></span></a>
                </div>
                <div class="step-details is-hidden-touch">
                    <a href="page5?" class="button is-rounded is-inverted is-link"><p class="step-title">Finalize</p></a>
                </div>
            </div>
        </div>

        <div class="field">
            <div id="selectAncestryControlShell" class="select is-medium is-info">
                <select id="selectAncestry" name="{{character.ancestryID}}">
                </select>
            </div>
        </div>

        <article id="isArchivedMessage" class="message is-hidden">
            <div class="message-header is-block text-center">
                <p class="has-text-grey-lighter font-noto-sans is-size-5 has-text-weight-bold">Archived Ancestry</p>
            </div>
            <div class="message-body has-text-grey-light font-noto-sans">
                This ancestry has been archived, likely because there is a new version available. Archived versions may eventually be removed so we highly recommend updating your character to the newest version when available.
            </div>
        </article>

        <article class="ancestry-content message is-info">
            <div id="ancestryDescription" class="message-body"></div>
        </article>

    </div>

    <div class="ancestry-content">

        <div id="ancestryInfo" class="box is-marginless">
            <div class="tile is-ancestor is-vertical">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Hit Points</p>
                        <div class="container">
                            <p id="ancestryHitPoints" class="is-size-3 has-text-value"></p>
                        </div>
                    </div>
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Size</p>
                        <div class="container">
                            <p id="ancestrySize" class="is-size-3 has-text-value"></p>
                        </div>
                    </div>
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Speed</p>
                        <div class="container">
                            <p id="ancestrySpeed" class="is-size-3 has-text-value"></p>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Languages</p>
                        <div class="container">
                            <p id="ancestryLanguages" class="is-size-5 has-text-value"></p>
                        </div>
                    </div>
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Senses</p>
                        <div class="container">
                            <p id="ancestrySenses" class="is-size-5 has-text-value"></p>
                        </div>
                    </div>
                    <div id="sectionPhysicalFeatures" class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Physical Features</p>
                        <div class="container">
                            <p id="ancestryPhysicalFeatures" class="is-size-5 has-text-value"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-centered is-marginless">
            <div id="physicalFeatureOneCodeOutput" class="column is-half-tablet"></div>
            <div id="physicalFeatureTwoCodeOutput" class="column is-half-tablet"></div>
        </div>

        <div id="ancestryBoostsAndFlaws" class="box mt-4">
            <div class="tile is-ancestor is-vertical">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Boosts</p>
                        <span id="boostsNonChoose" class="is-size-4"></span>
                        <span class="select is-medium abilityBoostControlShell">
                            <select id="selectBoost1" class="abilityBoost select-hide-if-empty"></select>
                        </span>
                        <span class="select is-medium abilityBoostControlShell">
                            <select id="selectBoost2" class="abilityBoost select-hide-if-empty"></select>
                        </span>
                        <span class="select is-medium abilityBoostControlShell">
                            <select id="selectBoost3" class="abilityBoost select-hide-if-empty"></select>
                        </span>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Flaws</p>
                        <span id="flawsNonChoose"></span>
                        <span class="select is-medium abilityFlawControlShell">
                            <select id="selectFlaw1" class="abilityFlaw select-hide-if-empty"></select>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="heritage-container" class="box">

            <div class="field">
                <div id="selectHeritageControlShell" class="select is-medium is-info">
                    <select id="selectHeritage">
                    </select>
                </div>
            </div>

            <article class="message is-info">
                <div id="heritageDescription" class="message-body"></div>
            </article>

            <div class="columns is-centered">
                <div id="heritageCodeOutput" class="column is-8">
                </div>
            </div>

        </div>

        <div id="ancestryFeats" class="box">
        </div>

    </div>

    <br>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <button class="button is-info is-rounded" id="prevButton">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
            </button>
        </div>
        <div class="level-item has-text-centered">
            <button class="button is-info is-rounded" id="nextButton">
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </button>
        </div>
    </nav>

</div>