
{{#section 'header'}}
    <link rel="stylesheet" href="/css/char-builder.css">
    <script type="text/javascript" src="/js/char_builders/char-builder-4.js"></script>
    <script type="text/javascript" src="/js/char_builders/display-structs.js"></script>
    <script type="text/javascript" src="/js/char_builders/asc-processing.js"></script>
    <script type="text/javascript" src="/js/char_builders/utils.js"></script>
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters" class="active">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}


<div class="pageloader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div id="char-builder" class="container py-4 text-center">

    <div class="box">

        <h1 class="title is-1 font-forum has-text-grey-light">Character Builder</h1>

        <div class="steps">
            <div class="step-item is-completed is-link">
                <div class="step-marker">
                <a href="page1?"><span class="has-text-bck-color icon"><i class="fa fa-user-alt"></i></span></a>
                </div>
                <div class="step-details is-hidden-touch">
                    <a href="page1?" class="button is-rounded is-inverted is-link"><p class="step-title">Basics</p></a>
                </div>
            </div>
            <div class="step-item is-completed is-link">
                <div class="step-marker"><a href="page2?"><span class="has-text-bck-color">A</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page2?" class="button is-rounded is-inverted is-link"><p class="step-title">Ancestry</p></a>
                </div>
            </div>
            <div class="step-item is-completed is-link">
                <div class="step-marker"><a href="page3?"><span class="has-text-bck-color">B</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page3?" class="button is-rounded is-inverted is-link"><p class="step-title">Background</p></a>
                </div>
            </div>
            <div class="step-item is-active is-link">
                <div class="step-marker"><a href="page4?"><span class="">C</span></a></div>
                <div class="step-details is-hidden-touch">
                    <a href="page4?" class="button is-rounded is-inverted is-link"><p class="step-title">Class</p></a>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">
                <a href="page5?"><span class="has-text-bck-color icon"><i class="fa fa-flag"></i></span></a>
                </div>
                <div class="step-details is-hidden-touch">
                    <a href="page5?" class="button is-rounded is-inverted is-link"><p class="step-title">Finalize</p></a>
                </div>
            </div>
        </div>

        <div class="field">
            <div id="selectClassControlShell" class="select is-medium is-info">
                <select id="selectClass">
                    <option value="chooseDefault" name="chooseDefault">Choose a Class</option>
                    <hr class="dropdown-divider"></hr>
                    {{#each allClasses}}
                    <option value="{{id}}" name="{{name}}" {{chooseSelection id ../character.classID}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <article class="class-content message is-info">
            <div id="classDescription" class="message-body"></div>
        </article>

    </div>

    <div class="class-content">

        <div id="classBroadInfo" class="box">
            <div class="columns">
                <div class="column">
                </div>
                <div class="column">
                    <div class="has-tooltip-bottom has-tooltip-multiline" data-tooltip="At 1st level, you gain an ability boost in the key ability for your class.">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Key Ability</p>
                        <div id="keyAbility" class="container">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="has-tooltip-bottom has-tooltip-multiline" data-tooltip="Your maximum number of HP increases by this number plus your Constitution modifier at every level (including 1st).">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Hit Points</p>
                        <div id="hitPoints" class="container">
                        </div>
                    </div>
                </div>
                <div class="column">
                </div>
            </div>
        </div>

        <div id="classInfo" class="box">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-4 is-vertical">
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Perception</p>
                        <div id="profPerception" class="container">
                        </div>
                    </div>
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Skills</p>
                        <div id="profSkills" class="container">
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-4 is-vertical">
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Saving Throws</p>
                        <div id="profSavingThrows" class="container">
                        </div>
                    </div>
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Spells</p>
                        <div id="profSpells" class="container">
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-4 is-vertical">
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Attacks</p>
                        <div id="profAttacks" class="container">
                        </div>
                    </div>
                    <div class="tile is-child">
                        <p class="is-size-4 has-text-title has-text-weight-semibold">Defenses</p>
                        <div id="profDefenses" class="container">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="classAbilities">
        </div>

    </div>

    <br>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <button class="button is-info is-rounded" id="prevButton">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
            </button>
        </div>
        <div class="level-item has-text-centered">
            <button class="button is-info is-rounded" id="nextButton">
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
            </button>
        </div>
    </nav>

</div>