
/* Typography */
.has-text-left {
  text-align-last: left!important;
}
.has-text-right {
  text-align-last: right!important;
}

.is-underlined {
  text-decoration: underline;
}
.is-bold-very {
  font-weight: 900;
  filter: brightness(115%);
}
strong, .is-bold {
  font-weight: 675;
  filter: brightness(115%);
}
.has-text-bold-color {
  filter: brightness(115%);
}
.label {
  color: var(--text-p-color)!important;
}
.is-brighter {
  filter: brightness(115%);
}
em {
  filter: brightness(80%);
}
.is-weight-normal {
  font-weight: 400;
}
.is-thin {
  font-weight: 200;
}
.is-thin-very {
  font-weight: 100;
}
.is-underlined-info {
  text-decoration: underline!important;
  -webkit-text-decoration-color: hsl(204, 86%, 53%)!important; /* Safari */  
  text-decoration-color: hsl(204, 86%, 53%)!important;
}
.is-underlined-warning {
  text-decoration: underline!important;
  -webkit-text-decoration-color: hsl(48, 100%, 67%)!important; /* Safari */  
  text-decoration-color: hsl(48, 100%, 67%)!important;
}
.is-underlined-cyan {
  text-decoration: underline!important;
  -webkit-text-decoration-color: #35D4C7!important; /* Safari */  
  text-decoration-color: #35D4C7!important;
}
.is-underlined-success {
  text-decoration: underline!important;
  -webkit-text-decoration-color: hsl(141, 71%, 48%)!important; /* Safari */  
  text-decoration-color: hsl(141, 71%, 48%)!important;
}
.is-underlined-danger {
  text-decoration: underline!important;
  -webkit-text-decoration-color: hsl(348, 100%, 61%)!important; /* Safari */  
  text-decoration-color: hsl(348, 100%, 61%)!important;
}
.is-underlined-link {
  text-decoration: underline!important;
  -webkit-text-decoration-color: #3273dc!important; /* Safari */  
  text-decoration-color: #3273dc!important;
}

.is-underlined-thin {
  border-bottom: 1px solid;
  border-color: inherit;
}
.is-underlined-thin-darker {
  border-bottom: 1px solid;
  border-color: #484848;
}
.has-text-center-justified {
  text-align: justify!important;
  text-align-last: center!important;
}

/* Text Colors */
.has-text-info-lighter {
  color: hsl(204, 86%, 65%);
}

.has-text-gold {
  color: #eec00b!important;
}
.has-text-brown {
  color: #9D876E!important;
}
.has-text-turquoise {
  color: #3D9DA8!important;
}
.has-text-purple {
  color: #925DA2!important;
}
.has-text-cyan {
  color: #35D4C7!important;
}

/* Text Sizes */
.is-size-8 {
  font-size: 0.5rem!important;
}
.is-size-7-5 {
  font-size: 0.6rem!important;
}
.is-size-6-5 {
  font-size: 0.85rem!important;
}
.is-size-5-5 {
  font-size: 1.1rem!important;
}
.is-size-3-5 {
  font-size: 1.75rem!important;
}

/* Tab Sizes */
.tabs.is-small-medium {
  font-size: 0.9rem;
}

/* Icon Sizes */
.icon.is-very-small {
  height:1em;
  width:1em;
}

/* Button Sizes */
.button.is-very-small {
  font-size: 0.6rem!important;
}
.button.is-tiny {
  font-size: 0.5rem!important;
}

.button.is-static {
  background-color: var(--button-static-color);
  color: hsl(0, 0%, 68%);
}
.button.is-static.is-extra {
  background-color: var(--button-static-bold-color);
}

/* Border */
.border-dark-ish {
  border-color: #262626!important;
}
.border-dark-lighter {
  border-color: #363636!important;/*hsl(210, 3%, 23%)!important;*/
}
.border-darker {
  border-color: #202020!important;
}

/* Misc */
.is-table-size {
  height: 256px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  z-index: 20;
}
.mb-05 {
  margin-bottom: .13rem!important;
}

.tag:not(body).is-background {
  background-color: var(--main-box-bg-color);
  color: #fff;
}

/* Relative and Absolute */
.pos-relative { position: relative; }
.pos-absolute { position: absolute!important; }

.pos-absolute.pos-t-0 { top: 0px; }
.pos-absolute.pos-t-1 { top: 1px; }
.pos-absolute.pos-t-2 { top: 2px; }
.pos-absolute.pos-t-3 { top: 3px; }
.pos-absolute.pos-t-4 { top: 4px; }
.pos-absolute.pos-t-5 { top: 5px; }
.pos-absolute.pos-t-10 { top: 10px; }
.pos-absolute.pos-t-15 { top: 15px; }
.pos-absolute.pos-t-20 { top: 20px; }
.pos-absolute.pos-t-40 { top: 40px; }

.pos-absolute.pos-b-0 { bottom: 0px; }
.pos-absolute.pos-b-1 { bottom: 1px; }
.pos-absolute.pos-b-2 { bottom: 2px; }
.pos-absolute.pos-b-3 { bottom: 3px; }
.pos-absolute.pos-b-4 { bottom: 4px; }
.pos-absolute.pos-b-5 { bottom: 5px; }
.pos-absolute.pos-b-10 { bottom: 10px; }
.pos-absolute.pos-b-15 { bottom: 15px; }
.pos-absolute.pos-b-20 { bottom: 20px; }

.pos-absolute.pos-l-0 { left: 0px; }
.pos-absolute.pos-l-1 { left: 1px; }
.pos-absolute.pos-l-2 { left: 2px; }
.pos-absolute.pos-l-3 { left: 3px; }
.pos-absolute.pos-l-4 { left: 4px; }
.pos-absolute.pos-l-5 { left: 5px; }
.pos-absolute.pos-l-10 { left: 10px; }
.pos-absolute.pos-l-15 { left: 15px; }
.pos-absolute.pos-l-20 { left: 20px; }

.pos-absolute.pos-r-0 { right: 0px; }
.pos-absolute.pos-r-1 { right: 1px; }
.pos-absolute.pos-r-2 { right: 2px; }
.pos-absolute.pos-r-3 { right: 3px; }
.pos-absolute.pos-r-4 { right: 4px; }
.pos-absolute.pos-r-5 { right: 5px; }
.pos-absolute.pos-r-10 { right: 10px; }
.pos-absolute.pos-r-15 { right: 15px; }
.pos-absolute.pos-r-20 { right: 20px; }

/* Rarities */
.button.is-uncommon {
  background-color: var(--rarity-uncommon);
  border-color: transparent;
  color: #fff;
}
.button.is-rare {
  background-color: var(--rarity-rare);
  border-color: transparent;
  color: #fff;
}
.button.is-unique {
  background-color: var(--rarity-unique);
  border-color: transparent;
  color: #fff;
}

select .is-non-available {
  background-color: hsl(0, 0%, 18%);
}
select .is-non-available-very {
  background-color: hsl(0, 0%, 15%);
}
select .is-uncommon {
  background-color: var(--rarity-uncommon-option);
}
select .is-rare {
  background-color: var(--rarity-rare-option);
}
select .is-unique {
  background-color: var(--rarity-unique-option);
}

.feat-selection-list-entry.is-non-available {
  background-color: hsl(0, 0%, 18%);
}
.feat-selection-list-entry.is-non-available-very {
  background-color: hsl(0, 0%, 15%);
}
.feat-selection-list-entry.is-uncommon {
  background-color: var(--rarity-uncommon-option);
}
.feat-selection-list-entry.is-rare {
  background-color: var(--rarity-rare-option);
}
.feat-selection-list-entry.is-unique {
  background-color: var(--rarity-unique-option);
}

/* Field Label */
.field-label.is-long {
  flex-grow: 2 !important;
}

/* Tables */
.table-bck {
  background-color: hsl(240, 2%, 13%);
}
.table-row-a {
  background-color: hsl(240, 2%, 17%);
}
.table-row-b {
  background-color: hsl(240, 2%, 15%);
}
.wsc-table {
  width:100%;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
}
.wsc-table, .wsc-th, .wsc-td {
  border: 1px solid hsl(240, 2%, 12%);
  border-collapse: collapse;
}