
/* Typography */
.is-underlined {
  text-decoration: underline;
}
.is-bold-very {
  font-weight: 900;
}
.is-bold {
  font-weight: 675;
}
.is-weight-normal {
  font-weight: 400;
}
.is-thin {
  font-weight: 200;
}
.is-thin-very {
  font-weight: 100;
}
.is-underlined-info {
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(204, 86%, 53%); /* Safari */  
  text-decoration-color: hsl(204, 86%, 53%);
}
.is-underlined-warning {
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(48, 100%, 67%); /* Safari */  
  text-decoration-color: hsl(48, 100%, 67%);
}
.has-text-center-justified {
  text-align: justify!important;
  text-align-last: center!important;
}

/* Text Colors */
.has-text-info-lighter {
  color: hsl(204, 86%, 65%);
}
.has-text-grey-kinda-light {
  color: hsl(0, 0%, 60%)!important;
}
.has-text-grey-kinda-dark {
  color: hsl(0, 0%, 38%)!important;
}
.has-text-grey-like {
  color: hsl(0, 0%, 57%)!important;
}

/* Background Colors */
.has-background-black-like {
  background-color: hsl(0, 0%, 12%)!important;
}
.has-background-black-like-more {
  background-color: hsl(0, 0%, 11%)!important;
}
.has-background-grey-darkest {
  background-color: hsl(0, 0%, 17%)!important;
}
.has-background-grey-darklike {
  background-color: hsl(0, 0%, 19%)!important;
}

/* Text Sizes */
.is-size-8 {
  font-size: 0.5rem!important;
}
.is-size-6-5 {
  font-size: 0.85rem!important;
}
.is-size-5-5 {
  font-size: 1.1rem!important;
}
.is-size-3-5 {
  font-size: 1.75rem!important;
}

/* Button Sizes */
.button.is-very-small {
  font-size: 0.6rem!important;
}

/* Border */
.border-dark-ish {
  border-color: #262626!important;
}
.border-dark-lighter {
  border-color: #363636!important;/*hsl(210, 3%, 23%)!important;*/
}
.border-darker {
  border-color: #202020!important;
}

/* Misc */
.is-table-size {
  height: 256px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  z-index: 20;
}

/* Relative and Absolute */
.pos-relative { position: relative; }
.pos-absolute { position: absolute; }

.pos-absolute.pos-t-0 { top: 0px; }
.pos-absolute.pos-t-1 { top: 1px; }
.pos-absolute.pos-t-2 { top: 2px; }
.pos-absolute.pos-t-3 { top: 3px; }
.pos-absolute.pos-t-4 { top: 4px; }
.pos-absolute.pos-t-5 { top: 5px; }

.pos-absolute.pos-l-0 { left: 0px; }
.pos-absolute.pos-l-1 { left: 1px; }
.pos-absolute.pos-l-2 { left: 2px; }
.pos-absolute.pos-l-3 { left: 3px; }
.pos-absolute.pos-l-4 { left: 4px; }
.pos-absolute.pos-l-5 { left: 5px; }

.pos-absolute.pos-r-0 { right: 0px; }
.pos-absolute.pos-r-1 { right: 1px; }
.pos-absolute.pos-r-2 { right: 2px; }
.pos-absolute.pos-r-3 { right: 3px; }
.pos-absolute.pos-r-4 { right: 4px; }
.pos-absolute.pos-r-5 { right: 5px; }

/* Rarities */
.button.is-uncommon {
  background-color: hsl(157, 65%, 38%);
  border-color: transparent;
  color: #fff;
}
.button.is-rare {
  background-color: hsl(224, 55%, 42%);
  border-color: transparent;
  color: #fff;
}
.button.is-unique {
  background-color: hsl(282, 58%, 38%);
  border-color: transparent;
  color: #fff;
}

select .is-non-available {
  background-color: hsl(0, 0%, 18%);
}
select .is-non-available-very {
  background-color: hsl(0, 0%, 15%);
}
select .is-uncommon {
  background-color: hsl(158, 25%, 22%);
}
select .is-rare {
  background-color: hsl(225, 30%, 22%);
}
select .is-unique {
  background-color: hsl(282, 30%, 22%);
}

.feat-selection-list-entry.is-non-available {
  background-color: hsl(0, 0%, 18%);
}
.feat-selection-list-entry.is-non-available-very {
  background-color: hsl(0, 0%, 15%);
}
.feat-selection-list-entry.is-uncommon {
  background-color: hsl(158, 25%, 22%);
}
.feat-selection-list-entry.is-rare {
  background-color: hsl(225, 30%, 22%);
}
.feat-selection-list-entry.is-unique {
  background-color: hsl(282, 30%, 22%);
}