/* Reset Code */
body {
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
}

body a,
body button {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
 cursor: pointer !important;
}

body a:hover,
body button:hover {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
 cursor: pointer !important;
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

body a:focus,
a:hover {
  text-decoration: none;
}

input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-header-color);
}

p,
.is-p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: var(--text-p-color);
  font-family: 'Open Sans', sans-serif;
}

span {
  color: inherit;
  font-family: 'Open Sans', sans-serif;
}

strong {
  color: var(--text-p-color);
}

li {
  color: var(--text-listing-color);
}

hr {
  border-color: var(--hr-color);
  background-color: var(--hr-color);
}


ul,
ol {
  margin: 0;
  padding: 0;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none
}
/*                   */




/* Style External Links */
.external-link,
.external-link:focus,
.external-link:hover {
  color: currentColor;
  text-decoration: underline;
}



/* Header */
#main-top {
  color: #161616;
  position: relative;
  flex: 0 1 auto;
}
header {
  position: absolute;
  width: 100%;
  z-index: 15;
}
.top-border {
  background-color: #282828;
  height: 1px;
}


/* Core (Header - Body - Footer) Placement */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  background-color: var(--main-bg-color);
  background-image: var(--main-bg-texture);
}

#main-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh; /* will cover the 100% of viewport */
  position: relative;
  overflow: hidden;
}

#wanderers-guide-footer {
  background: #161616;
  width: 100%;
  flex: 0 1 58px;
}


/* Dark Mode Styling */
.box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background: var(--main-box-bg-color);
  border: 1px solid #282828;
  color: var(--text-box-color);
  border-radius: 4px;
}
.box.lighter {
  background: var(--main-box-lighter-bg-color);
}
.box.darker {
  background: var(--main-box-darker-bg-color);
}

.section-box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background: var(--main-box-bg-color);
  border: 1px solid var(--main-box-bg-color);
  border-radius: 4px;
}
.s-s-box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background: var(--main-box-s-s-bg-color);
  border: 1px solid var(--main-box-s-s-bg-color);
  border-radius: 4px;
  max-width: 600px;
  margin: auto;
}

.key-container {
  width: 40vw;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  border: 1px solid #282828;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  border-radius: 4px;
  color: var(--text-p-color);
  background: var(--main-box-small-bg-color);
}
.input, .select select, .textarea, .button {
  background-color: var(--selectors-color);
  border-color: hsl(0, 0%, 13%);
  color: var(--text-p-color);
}
.input:hover, .select select:hover, .textarea:hover, .button:hover {
  border-color: hsl(0, 0%, 10%);
}
.input::-webkit-input-placeholder, .select select::-webkit-input-placeholder, .textarea::-webkit-input-placeholder{
  color:rgba(219,219,219,.4);
}
.button:hover {
  background-color: var(--selectors-hover-color);
}
.select::after {
  border-color: var(--text-p-color)!important;
}
.select:hover::after {
  border-color: hsl(204, 86%, 53%)!important;
}
.message.is-info {
  background-color: var(--message-bg-color);
}
.message {
  background-color: var(--message-bg-color);
  border-color: #282828;
}
.message a:not(.button):not(.tag):not(.dropdown-item) {
  text-decoration: none;
}
.input.isURL {
color: var(--text-partial-noted-color)!important;
}
a {
  color: hsl(204, 86%, 53%);
}
a:hover {
  color: hsl(204, 86%, 53%);
}

/* Cursors */
.cursor-clickable {
  cursor: pointer!important;
}
.cursor-nonclickable {
  cursor: default!important;
}
.cursor-disabled {
  cursor: not-allowed!important;
}
.cursor-remove-overrides {
  cursor: auto!important;
}

/* Tooltips */
[data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not(.is-loading)::before, [data-tooltip]:not([disabled])::before {
  background-color: var(--tooltips-bg-color);
}

/* Extra Text Colors */
.has-txt-value-number {
  color: var(--text-num-value-color)!important;
}
.has-txt-value-string {
  color: var(--text-txt-value-color)!important;
}
.has-txt-noted {
  color: var(--text-noted-color)!important;
}
.has-txt-partial-noted {
  color: var(--text-partial-noted-color)!important;
}
.has-txt-very-noted {
  color: var(--text-very-noted-color)!important;
}
.has-txt-faded {
  color: var(--text-faded-color)!important;
}
.has-txt-listing {
  color: var(--text-listing-color)!important;
}

/* Extra Background Colors */
.has-bg-selectable {
  background-color: var(--selectable)!important;
}
.has-bg-selectable-hover {
  background-color: var(--selectable-hover)!important;
}

.has-bg-options-header-bold {
  background-color: var(--accordion-header-bold-bg-color)!important;
}

/* Extra Hr Colors */
.has-hr-faded {
  border-color: var(--hr-faded-color)!important;
  background-color: var(--hr-faded-color)!important;
}

/* Misc */
.has-tooltip-top { /* Fix bug with tooltips and negative indentation */
  text-indent: 0px;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow-none {
  white-space: nowrap;
  overflow: hidden;
}

/* Show More */
.fading-reveal-container {
  margin-bottom: 0.7rem;
}
.fading-reveal-container.is-enabled.is-active {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  max-height: 400px; /* Hardcoded in show-more.js */
  overflow-y: hidden;
}
.reveal-container-text {
  cursor: pointer !important;
  position: absolute;
  bottom: -1rem;
  left: 10px;
  opacity: 0.9;
}

/* Main Body */
#center-body {
  position: relative;
  flex: 1 1 auto;
}

.title, .modal-card-title, #quickViewTitle {
  font-family: 'Proza Libre', sans-serif;
}

/* Indent all but first line of paragraph */
.negative-indent {
  margin-left: 20px;
  text-indent: -20px;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.3em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border:1px #1d1d1d solid;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-scrollbar-darker-color);
  outline: 1px solid var(--main-scrollbar-darker-color);
}

.use-custom-scrollbar::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}
.use-custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
.use-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--main-scrollbar-color);
  outline: 1px solid var(--main-scrollbar-color);
}
.use-custom-scrollbar::-webkit-scrollbar-corner {
  background-color: var(--main-scrollbar-color);
}
.use-custom-scrollbar.is-darker::-webkit-scrollbar-thumb {
  background-color: var(--main-scrollbar-darker-color);
  outline: 1px solid var(--main-scrollbar-darker-color);
}
.use-custom-scrollbar.is-darker::-webkit-scrollbar-corner {
  background-color: var(--main-scrollbar-darker-color);
}

.use-invisible-scrollbar::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

.quickview-body.use-custom-scrollbar {
  overflow-x: hidden;
}

@media screen and (max-width:768px){
  /* Mobile View */
  .use-custom-scrollbar::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
  }
}

/* Select Scrollbar */
select::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
}
select::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
select::-webkit-scrollbar-thumb {
  background-color: var(--main-scrollbar-color);
  outline: 1px solid var(--main-scrollbar-color);
}
select::-webkit-scrollbar-corner {
  background-color: var(--main-scrollbar-color);
}

.has-back-to-top {
  position: relative;
}

/* Code Block */
.code-block {
  padding: 0.8rem;
  background-color: var(--main-code-block-bg-color);
  font-family: 'Nanum Gothic Coding', monospace;
  color: var(--text-p-color);
}

.code-block-statement-display {
  position: absolute;
  top: 35px;
  right: 10px;
  z-index: 10;
  font-weight: 200;
  color: #7a7a7a;
  font-style: italic;
  user-select: none;
}
.code-block-statement-display.in-quickview {
  top: 3px;
  font-size: small;
}

/* Display Templates */
.class-starting-prof {
  font-size: .75rem;
}

/* Banners */

.w3ls_banner_txt {
  margin-top: 23%;
  margin-bottom: 23%;
}
.w3ls_banner_txt p {
  color: #eee;
}

h3.w3ls_pvt-title {
  font-size: 2.2em;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  font-weight: bold;
}

.w3ls_banner_txt h5 {
  font-weight: 400;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.banner_w3lspvt-2 {
  background: #101010 no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 58px;
}

.banner_w3lspvt-1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

a.banner-1-artist {
  position: absolute;
  bottom: 2%;
  right: 4%;
  font-size: 1em;
  color: #fff!important;
}

.banner-1-image-report {
  position: absolute;
  bottom: 2%;
  left: 1%;
  font-size: 1em;
  color: #fff!important;
}

.button-style {
  padding: 11px 20px;
  border: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  border: 2px solid #fff;
  border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
-ms-border-radius: 4px;
opacity:0.7;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.button-style-2 {
  background: transparent;
  border-color: #fff;
}

.button-style:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
  opacity: 1;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;

}

.button-style-2:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
opacity:1;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;

}

/* Copyright */
.cpy-right p {
  letter-spacing: 2px;
  font-size: 14px;
  white-space: nowrap;
}

.cpy-right p a {
  color: var(--text-partial-noted-color);
}

/* About */
h3.title-w3 {
  font-size: 42px;
}

h3.title-w2 {
  font-size: 24px;
}



/* ------- Nav Bar ------- */
#logo a {
  float: left;
  display: initial;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  padding: 0;
}

nav ul li {
  float: left;
}

/* Each Nav Link */
nav a {
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
  padding: 7px 12px;
  border-radius: 4px;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* Nav Profile Picture Link */
#nav-profile-picture {
  padding: 3px 3px;
  margin-right: 10px;
}
.profile-header-icon {
	border-radius: 50%;
	width: 38px;
	height: 38px;
	border: 1px solid black;
}

/* Dropdown Links */
nav ul li ul li:hover {
    color: #000;
    background: #f8f9fa;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.nav-menu-toggle {
  color: #f8f9fa !important;
}
.nav-menu-toggle.is-active {
  color: #000 !important;
  background: #f8f9fa;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* Background color change on hover */
.nav-menu li a.active,
.nav-menu li a:hover {
    color: #333;
    background: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 36px;
    background: #333;
    padding: 10px;
    border-radius: 4px;
    z-index: 15;
}

/* Display Dropdowns on hover */
nav ul li:hover>ul {
    display: inherit;
}

/* First Tier Dropdown */
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    margin: 3px;
    border-radius: 4px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

nav ul ul li a {
    color: #fff;
    padding: 5px 10px;
    display: block;
    font-size: 14px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

#mobile-nav-menu {
  background-color: var(--main-nav-bg-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  margin: 2px;
  border-radius: 4px;
  width: 180px;
  position: absolute;
  top: 45px;
  right: 0px;
  padding: 4px 0px;
  z-index: 999;
}
#mobile-nav-menu a {
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  display: block;
}
#mobile-nav-menu a:hover {
  color: #000;
  background: #f8f9fa;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

@media all and (max-width: 919px) {
  .nav-menu-toggle {
    display: inline-flex;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .nav-menu {
    display: none;
  }
}

@media all and (min-width: 920px) {
  .nav-menu-toggle {
    display: none;
  }
  .nav-menu {
    display: inline-flex;
  }
}


@media screen and (max-width:768px){
  .mobile-is-marginless {
    margin: 0!important;
  }
  .mobile-apply-flex {
    display: flex!important;
    overflow: hidden;
  }
}