
{{#section 'header'}}
    <link rel="stylesheet" href="/css/asc-docs-styles.css">
    <script src="/js/asc/docs-page.js"></script>
    <script src="/js/asc/text-processing.js"></script>
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}


<div id="doc_nav_shell">
    <div id="docs_nav" class="ml-2 mt-2">
        <aside class="menu">
            <p class="menu-label">
                <a href="/asc_docs/#asc_docs">ASC Documentation</a>
            </p>
            <ul class="menu-list">
                <li><a href="/asc_docs/#usage">Usage</a></li>
            </ul>
            <p class="menu-label">
                <a href="/asc_docs/#description_fields">Description Fields</a>
            </p>
            <ul class="menu-list">
                <li><a href="/asc_docs/#typography">Typography</a></li>
                <li><a href="/asc_docs/#links">Links</a></li>
                <li><a href="/asc_docs/#actions">Actions</a></li>
                <li><a href="/asc_docs/#tiers_of_success">Tiers of Success</a></li>
                <li><a href="/asc_docs/#bullet_lists">Bullet Lists</a></li>
                <li><a href="/asc_docs/#non_bullet_lists">Non-Bullet Lists</a></li>
            </ul>
            <p class="menu-label">
                <a href="/asc_docs/#code_fields">Code Fields</a>
            </p>
            <ul class="menu-list">
                <li><a href="/asc_docs/#code_boosts">Boosts</a></li>
                <li><a href="/asc_docs/#code_feats">Feats</a></li>
                <li><a href="/asc_docs/#code_languages">Languages</a></li>
                <li><a href="/asc_docs/#code_lore">Lore</a></li>
                <li><a href="/asc_docs/#code_proficiencies">Proficiencies</a></li>
                <li><a href="/asc_docs/#code_skills">Skills</a></li>
                <li><a href="/asc_docs/#code_spells">Spells</a></li>
                <li><a href="/asc_docs/#code_domains">Domains</a></li>
                <li><a href="/asc_docs/#code_resist_and_weak">Resist / Weaks</a></li>
                <li><a href="/asc_docs/#code_speeds">Other Speeds</a></li>
                <li><a href="/asc_docs/#code_senses">Senses</a></li>
                <li><a href="/asc_docs/#code_phy_feats">Physical Features</a></li>
                <li><a href="/asc_docs/#code_specializations">Specializations</a></li>
                <li><a href="/asc_docs/#code_char_traits">Character Traits</a></li>
                <li><a href="/asc_docs/#code_notes_field">Notes Field</a></li>
            </ul>
        </aside>
    </div>
</div>

<div id="docs_content" class="tile is-ancestor mb-3">
    <div class="tile is-parent is-2"></div>
    <div class="tile is-parent is-vertical is-8">
        <div id="asc_docs" class="tile is-child">
            <h1 class="main-title is-size-2 is-family-code has-text-centered">ASC Documentation</h1>
            <p class="subtitle is-size-6 has-text-grey-light has-text-centered is-italic">Apeiron Styling Code (ASC), is used to format text in Apeiron and implement features for homebrew content.</p>
        </div>
        <div id="usage" class="tile is-child isHideable">
            <h1 class="title is-size-4 is-marginless mb-1 pl-3">Usage</h1>
            <p>
                ASC has two different forms, one is for description fields and the other is for code fields. Whenever something has an text area that is description for something, generally you can use ASC inside of it. Examples of this being: ancestry descriptions, heirtage descriptions, feat descriptions, and item descriptions. When making homebrew content, you will see that there are often fields that are labeled "Code" - these are code fields which is where you can input ASC to implement features. In addition, with these two different forms of ASC, some features are designed for the character sheet and others are designed for the character builder.
            </p>
        </div>
        <div id="description_fields" class="column is-paddingless">
            <div class="isHideable">
                <h1 class="main-title is-family-code is-size-3 has-text-centered is-marginless mb-2">Description Fields</h1>
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Basics</h1>
                <p>
                    This is where the styling part of ASC comes into play. The following is numberous, relatively small styling systems you can apply to your text.
                </p>
            </div>
            <div id="typography" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Typography</h1>
                <div class="ml-4">
                    <div class="columns mb-3">
                        <div class="column is-6">
                            <div class="columns is-mobile is-marginless">
                                <div class="column is-paddingless"><strong class="pl-2">You Type:</strong></div>
                                <div class="column is-paddingless"><strong class="pl-3">You See:</strong></div>
                            </div>
                            <div class="columns table-row-a is-mobile is-marginless">
                                <div class="column"><p>__italics__</p></div>
                                <div class="column text-processing">__italics__</div>
                            </div>
                            <div class="columns table-row-b is-mobile is-marginless">
                                <div class="column is-mobile"><p>**bold**</p></div>
                                <div class="column text-processing">**bold**</div>
                            </div>
                            <div class="columns table-row-a is-mobile is-marginless">
                                <div class="column is-mobile"><p>***big bold***</p></div>
                                <div class="column text-processing">***big bold***</div>
                            </div>
                            <div class="columns table-row-b is-mobile is-marginless">
                                <div class="column"><p>~~strikethrough~~</p></div>
                                <div class="column text-processing">~~strikethrough~~</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="links" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Links</h1>
                <div class="ml-4">
                    <div class="mt-1">
                        <h1 class="small-title is-size-4 is-marginless mb-1 pl-3">Core Rulebook</h1>
                        <p>
                            Stating the word "page" followed by some page number will generate a link to where you can purchase the Pathfinder 2e Core Rulebook.
                        </p>
                        <p class="pl-2">
                            <strong>As show below, page 456 becomes a link:</strong>
                        </p>
                        <div class="text-processing">
                            Hi! This is sample text, you should refer to page 456.
                        </div>
                    </div>
                    <div class="mt-1">
                        <h1 class="small-title is-size-4 is-marginless mb-1 pl-3">Bestiary</h1>
                        <p>
                            Stating the words "Pathfinder Bestiary" followed by some page number will generate a link to where you can purchase the Pathfinder 2e Bestiary.
                        </p>
                        <p class="pl-2">
                            <strong>As show below, Pathfinder Bestiary 302 becomes a link:</strong>
                        </p>
                        <div class="text-processing">
                            Hi! This is sample text, you should refer to Pathfinder Bestiary 302.
                        </div>
                    </div>
                    <div class="mt-1">
                        <h1 class="small-title is-size-4 is-marginless mb-1 pl-3">External</h1>
                        <p>
                            URLs to popular community resources can be turned into icons that function as links.
                        </p>
                        <p>
                            Any URL from a supported community resource surrounded in brackets will become and icon link.
                        </p>
                        <p>
                            Supported resources include:
                        </p>
                        <p class="is-size-7 pb-1 pl-4">
                            'paizo.com', '2e.aonprd.com', 'pf2.easytool.es', 'pathfinder2.dragonlash.com', 'pf2srd.com', 'pf2.d20pfsrd.com', 'youtube.com'
                        </p>
                        <p class="pl-2">
                            <strong>As show below, [https://paizo.com/pathfinder] becomes an icon link:</strong>
                        </p>
                        <div class="text-processing">
                            Hi! This is sample text, check out Pathfinder at [https://paizo.com/pathfinder]!
                        </div>
                    </div>
                </div>
            </div>
            <div id="actions" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Actions</h1>
                <p>
                    Displaying actions is super easy. Just write the action codename and it will generate that action icon.
                </p>
                <div class="code-block">
                    <p class="pl-2">
                    Free Action: FREE-ACTION.
                    </p>
                    <p class="pl-2">
                    Reaction: REACTION.
                    </p>
                    <p class="pl-2">
                    One Action: ONE-ACTION.
                    </p>
                    <p class="pl-2">
                    Two Actions: TWO-ACTIONS.
                    </p>
                    <p class="pl-2">
                    Three Actions: THREE-ACTIONS.
                    </p>
                </div>
                <p class="pl-4">Becomes...</p>
                <div class="code-block">
                    <div class="text-processing">
                        Free Action: FREE-ACTION.
                    </div>
                    <div class="text-processing">
                        Reaction: REACTION.
                    </div>
                    <div class="text-processing">
                        One Action: ONE-ACTION.
                    </div>
                    <div class="text-processing">
                        Two Actions: TWO-ACTIONS.
                    </div>
                    <div class="text-processing">
                        Three Actions: THREE-ACTIONS.
                    </div>
                </div>
            </div>
            <div id="tiers_of_success" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Tiers of Success</h1>
                <p>
                    Some simple formating for tiers of success can be very useful for actions, feats, and spells in homebrew content.
                </p>
                <div class="code-block">
                    <p class="pl-2">
                    Attempt an Intimidation check against that target's Will DC.
                    </p>
                    <p class="pl-2">
                        Critical Success: The target becomes frightened 2.
                    </p>
                    <p class="pl-2">
                        Success: The target becomes frightened 1.
                    </p>
                    <p class="pl-2">
                        Failure: They're not really scared of you...
                    </p>
                    <p class="pl-2">
                        Critical Failure: They think you're weak, whoops.
                    </p>
                </div>
                <p class="pl-4">Becomes...</p>
                <div class="code-block text-processing">
                    Attempt an Intimidation check against that target’s Will DC. Critical Success: The target becomes frightened 2. Success: The target becomes frightened 1. Failure: They're not really scared of you... Critical Failure: They think you're weak, whoops.
                </div>
                <p class="pl-4">You do not need to include all four tiers of success. It will format whatever tiers you give it.</p>
            </div>
            <div id="bullet_lists" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Bullet Lists</h1>
                <p>
                    There are times when it's best to organize information using bullet points. Having a '*' followed by some text then a ':' will separate the inner text, making it bold and creating a bullet point.
                </p>
                <div class="code-block">
                    <p class="pl-2">
                    The effect depends on whether the target is living or undead.
                    </p>
                    <p class="pl-2">
                        * Living Creature: The spell deals negative damage equal to 1d4 plus your spellcasting modifier. The target attempts a basic Fortitude save, but is also enfeebled 1 for 1 round on a critical failure.
                    </p>
                    <p class="pl-2">
                        * Undead Creature: The target is flat-footed for 1 round on a failed Fortitude save. On a critical failure, the target is also fleeing for 1 round unless it succeeds at a Will save.
                    </p>
                </div>
                <p class="pl-4">Becomes...</p>
                <div class="code-block text-processing">
                    The effect depends on whether the target is living or undead.
                    * Living Creature: The spell deals negative damage equal to 1d4 plus your spellcasting modifier. The target attempts a basic Fortitude save, but is also enfeebled 1 for 1 round on a critical failure.
                    * Undead Creature: The target is flat-footed for 1 round on a failed Fortitude save. On a critical failure, the target is also fleeing for 1 round unless it succeeds at a Will save.
                </div>
            </div>
            <div id="non_bullet_lists" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Non-Bullet Lists</h1>
                <p>
                    There are times when it's best to organize information using bullet points. Having a '~' followed by some text then a ':' will separate the inner text and make it bold.
                </p>
                <div class="code-block">
                    <p class="pl-2">
                    The effect depends on whether the target is living or undead.
                    </p>
                    <p class="pl-2">
                        ~ Living Creature: The spell deals negative damage equal to 1d4 plus your spellcasting modifier. The target attempts a basic Fortitude save, but is also enfeebled 1 for 1 round on a critical failure.
                    </p>
                    <p class="pl-2">
                        ~ Undead Creature: The target is flat-footed for 1 round on a failed Fortitude save. On a critical failure, the target is also fleeing for 1 round unless it succeeds at a Will save.
                    </p>
                </div>
                <p class="pl-4">Becomes...</p>
                <div class="code-block text-processing">
                    The effect depends on whether the target is living or undead.
                    ~ Living Creature: The spell deals negative damage equal to 1d4 plus your spellcasting modifier. The target attempts a basic Fortitude save, but is also enfeebled 1 for 1 round on a critical failure.
                    ~ Undead Creature: The target is flat-footed for 1 round on a failed Fortitude save. On a critical failure, the target is also fleeing for 1 round unless it succeeds at a Will save.
                </div>
            </div>
        </div>
        <div id="code_fields" class="column is-paddingless">         
            <div class="isHideable">
                <h1 class="main-title is-size-3 is-family-code has-text-centered is-marginless mb-2">Code Fields</h1>
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Basics</h1>
                <p>
                    Use a series of code statements to implement features for homebrew content. Split these statements up by having a ", " in between them.
                </p>
                <p>
                    Code statements currently have a very strict syntax, as such, most of this documentation will be a series of examples.
                </p>
                <p>
                    <strong>Example:</strong>
                </p>
                <div class="code-block">
                    GIVE-PROF-INCREASE-IN=Perception, GIVE-SKILL-FEAT=3
                </div>
            </div>
            <div id="code_boosts" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Boosts</h1>
                <p>
                    Use the following code statements to give a character ability boosts. Ability boosts are special in that a character cannot select the same ability score as any other ABILITY-BOOST statement in the same code field.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-SINGLE=ALL
                    </div>
                    <p class="pl-3">
                        - Generates one ability boost selector, all six ability scores are options.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-SINGLE=INT,WIS,CHA
                    </div>
                    <p class="pl-3">
                        - Generates one ability boost selector, only options are Intelligence, Wisdom, and Charisma.
                    </p>
                    <p class="pl-3">
                        - Note: Separate abilities list by only a single ","
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-MULTIPLE=3
                    </div>
                    <p class="pl-3">
                        - Generates three ability boost selectors, all six ability scores are options.
                    </p>
                    <p class="pl-3">
                        - Can generate up to six ability boost selectors, any more would be unnecessary.
                    </p>
                </div>
                <div class="pt-4 pb-2">
                    <p class="pl-3">
                        <strong>Warrior Background Example:</strong>
                    </p>
                    <p>
                        The warrior background gives the character an ability boost of either Strength or Constitution and then another ability boost of any ability score. But, since these two boosts are both given from the same source, the character cannot select the same ability score for both. Hopefully this is review, anyone reading this would likely already know how the system works.
                    </p>
                    <p>
                        You can implement something like this using the following code:
                    </p>
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-SINGLE=STR,CON, GIVE-ABILITY-BOOST-SINGLE=ALL
                    </div>
                </div>
                <div class="pt-4 pb-2">
                    <p class="pl-3">
                        <strong>4-Free-Boosts Example:</strong>
                    </p>
                    <p>
                        Generally every five levels a character is given four ability boosts. Because these four boosts are from the same source, they cannot select the same ability score multiple times.
                    </p>
                    <p>
                        You can implement something like this using the following code:
                    </p>
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-MULTIPLE=4
                    </div>
                </div>
            </div>
            <div id="code_feats" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Feats</h1>
                <p>
                    Use the following code statements to give a character feats.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-FEAT-NAME=Ancestral_Paragon
                    </div>
                    <p class="pl-3">
                        - Gives the character the Ancestral Paragon feat.
                    </p>
                    <p class="pl-3">
                        - Use an underscore in the place of spaces for names.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-GENERAL-FEAT=3
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only general feats with the level 3 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SKILL-FEAT=15
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only skill feats with the level 15 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ANCESTRY-FEAT=11
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only that character's ancestry feats with the level 11 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-CLASS-FEAT=1
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only that character's class feats with the level 1 or lower.
                    </p>
                </div>
            </div>
            <div id="code_languages" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Languages</h1>
                <p>
                    Use the following code statements to give a character a langauge.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-LANG-NAME=Elven
                    </div>
                    <p class="pl-3">
                        - Gives the character the Elven language.
                    </p>
                    <p class="pl-3">
                        - Use an underscore in the place of spaces for names, if relevant.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-LANG
                    </div>
                    <p class="pl-3">
                        - Generates a language selector, listing all languages as options.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-LANG-BONUS-ONLY
                    </div>
                    <p class="pl-3">
                        - Generates a language selector, listing only their ancestry's bonus languages as options.
                    </p>
                </div>
            </div>
            <div id="code_lore" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Lore</h1>
                <p>
                    Use the following code statements to give a character a lore skill.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-LORE=Sailing
                    </div>
                    <p class="pl-3">
                        - Gives the character Sailing Lore, by adding it to their skill list.
                    </p>
                    <p class="pl-3">
                        - Note: Does not set proficiency in the lore - they will be Untrained by default.
                    </p>
                </div>
                <div class="pt-4 pb-2">
                    <p class="pl-3">
                        <strong>Warrior Background Example:</strong>
                    </p>
                    <p>
                        The warrior background makes the character Trained in the Warfare Lore skill. This is two steps, one is to give the character Warfare Lore and the other is to make them Trained in it.
                    </p>
                    <p>
                        You can implement something like this using the following code:
                    </p>
                    <div class="code-block">
                        GIVE-LORE=Warfare, GIVE-PROF-IN=Warfare_Lore:T
                    </div>
                </div>
            </div>
            <div id="code_proficiencies" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Proficiencies</h1>
                <p class="pl-2 py-1">
                    <strong>Skills:</strong> 'Acrobatics', 'Arcana', 'Athletics', 'Crafting', 'Deception', 'Diplomacy', 'Intimidation', 'Medicine', 'Nature', 'Occultism', 'Performance', 'Religion', 'Society', 'Stealth', 'Survival', 'Thievery'
                </p>
                <p class="pl-2 py-1">
                    <strong>Attacks:</strong> 'Simple_Weapons', 'Martial_Weapons', 'Advanced_Weapons', 'Unarmed_Attacks'
                </p>
                <p class="pl-2 py-1">
                    <strong>Defenses:</strong> 'Light_Armor', 'Medium_Armor', 'Heavy_Armor', 'Unarmored_Defense'
                </p>
                <p class="pl-2 py-1">
                    <strong>Saving Throws:</strong> 'Fortitude', 'Reflex', 'Will'
                </p>
                <p class="pl-2 py-1">
                    <strong>Perception:</strong> 'Perception'
                </p>
                <p class="pl-2 py-1">
                    <strong>Spell Attacks:</strong> 'ArcaneSpellAttacks', 'OccultSpellAttacks', 'PrimalSpellAttacks', 'DivineSpellAttacks'
                </p>
                <p class="pl-2 py-1">
                    <strong>Spell DCs:</strong> 'ArcaneSpellDCs', 'OccultSpellDCs', 'PrimalSpellDCs', 'DivineSpellDCs'
                </p>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>By Name:</strong>
                    </p>
                    <p class="pl-2">
                        LORE~Name
                    </p>
                    <p class="pl-2">
                        WEAPON~Name
                    </p>
                    <p class="pl-2">
                        ARMOR~Name
                    </p>
                </div>
                <p>
                    Use the following code statements to give a character a proficiency.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-PROF-INCREASE-IN=Arcana
                    </div>
                    <p class="pl-3">
                        - Increases the character's proficiency in Arcana by one tier.
                    </p>
                    <p class="pl-3">
                        (Untrained -> Trained, Trained -> Expert, etc)
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-PROF-IN=Light_Armor:M
                    </div>
                    <p class="pl-3">
                        - Sets the character's base proficiency in Light Armor to Master.
                    </p>
                    <p class="pl-3">
                        - Note: Any proficiency increases will stack on top of the base proficiency.
                    </p>
                    <p class="pl-3">
                        (U = Untrained, T = Trained, E = Expert, M = Master, L = Legendary)
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-PROF-IN=WEAPON~Sickle:E
                    </div>
                    <p class="pl-3">
                        - Sets the character's base proficiency with the Sickle to Expert.
                    </p>
                    <p class="pl-3">
                        - Note: Any proficiency increases will stack on top of the base proficiency.
                    </p>
                    <p class="pl-3">
                        (U = Untrained, T = Trained, E = Expert, M = Master, L = Legendary)
                    </p>
                </div>
            </div>
            <div id="code_skills" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Skills</h1>
                <p>
                    Use the following code statements to give a character a proficiency in a skill of their choice.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SKILL-INCREASE
                    </div>
                    <p class="pl-3">
                        - Generates a skill selector, listing all skills and lores in the character's skill list.
                    </p>
                    <p class="pl-3">
                        - The selected skill has its proficiency increased by one tier.
                    </p>
                    <p class="pl-3">
                        - Minimum level of 7 to increase a skill to Master and 15 to increase to Legendary.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SKILL=T
                    </div>
                    <p class="pl-3">
                        - Generates a skill selector, listing all skills and lores in the character's skill list.
                    </p>
                    <p class="pl-3">
                        - The selected skill has its base proficiency set to Trained.
                    </p>
                    <p class="pl-3">
                        - Note: Any proficiency increases will stack on top of the base proficiency.
                    </p>
                    <p class="pl-3">
                        (U = Untrained, T = Trained, E = Expert, M = Master, L = Legendary)
                    </p>
                </div>
            </div>
            <div id="code_spells" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Spells</h1>
                <p>
                    Use the following code statements to give a character spells and spellcasting. With many of the statements it may require a spellcasting source, this can be any name you'd like but it should be consistant - it will be the unique identifier for that instance of spellcasting. If you're creating homebrew for a class, the spellcasting source should likely be the name of the class.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        SET-SPELL-CASTING-TYPE=Bard:SPONTANEOUS-REPERTOIRE
                    </div>
                    <p class="pl-3">
                        - Sets the Bard spellcasting source to use a repertoire - making them a spontaneous caster.
                    </p>
                    <p class="pl-3">
                        - Options are: Prepared-List, Prepared-Book, and Spontaneous-Repertoire.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        SET-SPELL-TRADITION=Wizard:ARCANE
                    </div>
                    <p class="pl-3">
                        - Sets the Wizard spellcasting source to use the Arcane tradition spell list.
                    </p>
                    <p class="pl-3">
                        - Options are: Arcane, Divine, Occult, and Primal.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        SET-SPELL-KEY-ABILITY=Druid:WIS
                    </div>
                    <p class="pl-3">
                        - Sets the Druid spellcasting source to use Wisdom as their key spellcasting ability.
                    </p>
                    <p class="pl-3">
                        - Options are: STR, DEX, CON, INT, WIS, and CHA.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        SET-SPELL-SLOTS=Bard:THREE-QUARTERS
                    </div>
                    <p class="pl-3">
                        - Sets the Bard spellcasting source to have three-quarters spellcasting slots (that being what most spellcasters have: 5 cantrips and 2 to 3 spell slots per spell level).
                    </p>
                    <p class="pl-3">
                        - Options are: Three-Quarters, Full, and Single-Set.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SPELL-SLOT=Bard:10
                    </div>
                    <p class="pl-3">
                        - Gives the character a 10th level spell slot for the Bard spellcasting source.
                    </p>
                    <p class="pl-3">
                        - Options are: 0 - 10.
                    </p>
                </div>
                <h1 class="title is-size-5 is-marginless mt-2 mb-1 pl-3">Focus Spells</h1>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-FOCUS-SPELL=Cleric:Meld into Stone
                    </div>
                    <p class="pl-3">
                        - Gives the character Meld into Stone as a focus spells using the Cleric spellcasting source.
                    </p>
                </div>
                <h1 class="title is-size-5 is-marginless mt-2 mb-1 pl-3">Innate Spells</h1>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-INNATE-SPELL=5:DIVINE:2
                    </div>
                    <p class="pl-3">
                        - Generates a selector, listing only 5th level spells within the Divine tradition spell list. The chosen spell can be cast twice per day.
                    </p>
                    <p class="pl-3">
                        - Options for tradition is: Arcane, Divine, Occult, and Primal.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-INNATE-SPELL-NAME=Meld into Stone:3:DIVINE:1
                    </div>
                    <p class="pl-3">
                        - Gives the character Meld into Stone as an innate divine spell, cast at 3rd level, and can only be cast once per day.
                    </p>
                    <p class="pl-3">
                        - Options for tradition is: Arcane, Divine, Occult, and Primal.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-INNATE-SPELL=Daze:0:ARCANE:0
                    </div>
                    <p class="pl-3">
                        - Gives the character Daze as an innate arcane cantrip, can be cast any number of times per day.
                    </p>
                    <p class="pl-3">
                        - Options for tradition is: Arcane, Divine, Occult, and Primal.
                    </p>
                </div>
            </div>
            <div id="code_domains" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Domains</h1>
                <p>
                    Use the following code statements to give or advance a character's domain.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-DOMAIN=Cleric
                    </div>
                    <p class="pl-3">
                        - Generates a domain selector, using Cleric as the spellcasting source.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-DOMAIN-ADVANCEMENT=Cleric
                    </div>
                    <p class="pl-3">
                        - Generates a domain advancement selector, listing all the characters's current domains and using Cleric as the spellcasting source.
                    </p>
                </div>
            </div>
            <div id="code_resist_and_weak" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Resistances and Weaknesses</h1>
                <p>
                    Use the following code statements to give a character a resistance or weakness.
                </p>
                <p>
                    For the value either put a number, "Half_Level", or "Level".
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-RESISTANCE=Negative:Half_Level
                    </div>
                    <p class="pl-3">
                        - Gives the character a resistance to negative damage equal to half their level.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-WEAKNESS=Cold:2
                    </div>
                    <p class="pl-3">
                        - Gives the character a weakness of 2 to cold damage.
                    </p>
                </div>
            </div>
            <div id="code_speeds" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Other Speeds</h1>
                <p>
                    Use the following code statement to give a character other types of speeds.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SPEED=Swim:15
                    </div>
                    <p class="pl-3">
                        - Gives the character a swim speed of 15 feet.
                    </p>
                </div>
            </div>
            <div id="code_senses" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Senses</h1>
                <p>
                    Use the following code statement to give a character a sense.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SENSE-NAME=Darkvision
                    </div>
                    <p class="pl-3">
                        - Gives the character darkvision.
                    </p>
                </div>
            </div>
            <div id="code_phy_feats" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Physical Features</h1>
                <p>
                    Use the following code statement to give a character a physical feature.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-PHYSICAL-FEATURE-NAME=Blunt Snout
                    </div>
                    <p class="pl-3">
                        - Gives the character a physical feature with the name "Blunt Snout".
                    </p>
                </div>
            </div>
            <div id="code_specializations" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Specializations</h1>
                <p>
                    Use the following code statements to give a character a specialization.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-WEAPON-SPECIALIZATION
                    </div>
                    <p class="pl-3">
                        - Gives the character weapon specialization.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-GREATER-WEAPON-SPECIALIZATION
                    </div>
                    <p class="pl-3">
                        - Gives the character greater weapon specialization.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ARMOR-SPECIALIZATION=Light_Armor
                    </div>
                    <p class="pl-3">
                        - Gives the character armor specialization in all light armor.
                    </p>
                    <p class="pl-3">
                        - Options are any of the defenses proficiency options (see Proficiencies) and can give by armor name or by trait (Ex: GIVE-ARMOR-SPECIALIZATION=ARMOR~Leather).
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-WEAPON-CRITICAL-SPECIALIZATION=Simple_Weapons
                    </div>
                    <p class="pl-3">
                        - Gives the character critical specialization in all simple weapons.
                    </p>
                    <p class="pl-3">
                        - Options are any of the attacks proficiency options (see Proficiencies) and can give by weapon name or by trait (Ex: GIVE-WEAPON-CRITICAL-SPECIALIZATION=TRAIT~Dwarf).
                    </p>
                </div>
            </div>
            <div id="code_char_traits" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Character Traits</h1>
                <p>
                    Use the following code statement to add a trait to a character.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-CHAR-TRAIT-NAME=Fey
                    </div>
                    <p class="pl-3">
                        - Adds the Fey trait to the character.
                    </p>
                </div>
            </div>
            <div id="code_notes_field" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Notes Field</h1>
                <p>
                    Sometimes a feat or class ability might need an area where the user can write some notes specific to that feature. In such a case, use the follow code statement to generate a notes field in the character sheet for that feature.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-NOTES-FIELD=Use this area to keep information about your diety.
                    </div>
                    <p class="pl-3">
                        - Generates a notes field in the character sheet with the given placeholder text.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-parent is-2"></div>
</div>