
{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_browse'}}
    <li class="mr-lg-4 mr-md-3"><a href="/browse" class="active"><i class="fas fa-lg fa-search"></i></a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="container">

    <h1 class="pt-3 is-size-1 has-text-light text-center">Browse</h1>
    <hr style="border-color: #5e5e5e;">

    <div>
        <p class="is-size-5 text-center is-italic">Coming soon!</p>
        <p class="text-center mx-5 px-5">
            The plan for this page is for it to be an area where you can search through all the data in Wanderer's Guide. An area where you can browse through all the different classes, items, and spells without having to make a character.
        </p>
    </div>

</div>