
{{#section 'header'}}
    <link rel="stylesheet" href="/css/homebrew.css">
    <link rel="stylesheet" href="/css/browse.css">

    <script src="/js/homebrew/general-homebrew.js"></script>
    <script src="/js/homebrew/user-content.js"></script>
    <script src="/js/homebrew/user-collection.js"></script>
    <script src="/js/homebrew/bundle-browse.js"></script>
    <script src="/js/browse/browse-utils.js"></script>

    <script src="/js/libraries/display_class/display-class.js"></script>
    <script src="/js/libraries/display_ancestry/display-ancestry.js"></script>
    <script src="/js/libraries/display_archetype/display-archetype.js"></script>
    <script src="/js/libraries/display_background/display-background.js"></script>
    <script src="/js/libraries/display_uni_heritage/display-uni-heritage.js"></script>

    <script src="/js/homebrew/bundle-view.js"></script>
    <script src="/js/homebrew/bundle-manage-keys.js"></script>

    <script src="/js/homebrew/builder/bundle-editor.js"></script>
    <script src="/js/homebrew/builder/builder-templating.js"></script>

    <script src="/js/libraries/confirm_message/confirm-message.js"></script>

    <!-- Quickview -->
    <script src="/js/sheet/quickviews/_quickviews.js"></script>
    <script src="/js/sheet/quickviews/feat-view.js"></script>
    <script src="/js/sheet/quickviews/language-view.js"></script>
    <script src="/js/sheet/quickviews/spell-view.js"></script>
    <script src="/js/sheet/quickviews/item-view.js"></script>
    <script src="/js/sheet/quickviews/tag-view.js"></script>
    <script src="/js/sheet/quickviews/ability-view.js"></script>
    <script src="/js/sheet/quickviews/condition-view.js"></script>
    <script src="/js/sheet/utils/item-utils.js"></script>
    <script src="/js/sheet/utils/material-utils.js"></script>
    <script src="/js/wsc/text-processing.js"></script>
    <script src="/js/wsc/add-text-processing.js"></script>
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew" class="active">Homebrew</a></li>
{{/section}}

{{#section 'nav_browse'}}
    <li class="mr-lg-4 mr-md-3"><a href="/browse"><i class="fas fa-lg fa-search"></i></a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}

<div id="homebrew-container" class="container" data-edit-homebrew-id="{{editHomebrewID}}" data-view-homebrew-id="{{viewHomebrewID}}" data-direct-to-tab="{{homebrewTabName}}">

    
    
    <h1 class="pt-3 is-size-1 has-text-light text-center">Homebrew</h1>
    <hr style="border-color: #5e5e5e;">
    <div>
        <p class="is-size-5 text-center is-italic">Coming soon!</p>
        <p class="text-center mx-5 px-5">
            The plan for this page is for it to be the central hub for all things homebrew. This is where you would go to browse homebrew, manage homebrew you've collected, and create your own homebrew.
        </p>
    </div>
    
    
  
  

</div>

{{#section 'overlay'}}
    <!-- Right Quickview -->
    <div id="quickviewDefault" class="quickview">
        <div class="quickview-header">
            <p id="quickViewTitle" class="title is-size-5 has-text-grey-lighter"></p>
            <div class="is-inline-flex">
                <p id="quickViewTitleRight"></p>
                <p id="quickViewTitleClose"></p>
            </div>
        </div>
        <div class="quickview-body use-custom-scrollbar">
            <div id="quickViewContent" class="quickview-block pt-1 pb-3 px-3">
            </div>
        </div>
    </div>
{{/section}}

<div id="manage-keys-modal" class="modal">
  <div id="manage-keys-modal-background" class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title is-size-4 has-text-grey-lighter">Key Management</p>
          <button id="manage-keys-modal-close" class="delete modal-card-close" aria-label="close"></button>
      </header>
      <section id="manage-keys-modal-body" class="modal-card-body">
      </section>
  </div>
</div>