
{{#section 'header'}}
    <link rel="stylesheet" href="/css/api-request-access.css">
    <script src="/js/api/api-request-access.js"></script>
{{/section}}

<div id="access-container" class="container text-center">

    <div>
      <p class="is-size-4"><span class="is-bold lighter-text">Wanderer's Guide</span></p>
      <p class="is-size-6">is currently down for updates / repairs</p>
    </div>
    <p class="pt-4 is-size-6-5 lighter-text is-italic">Check back in later!</p>

</div>