
{{#section 'header'}}
    <link rel="stylesheet" href="/css/wsc-docs-styles.css">
    <script src="/js/wsc/docs-page.js"></script>
    <script src="/js/wsc/text-processing.js"></script>
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li><a href="/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_browse'}}
    <li class="mr-lg-4 mr-md-3"><a href="/browse"><i class="fas fa-lg fa-search"></i></a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}


<div id="doc_nav_shell">
    <div id="docs_nav" class="ml-2 mt-2">
        <aside class="menu">
            <p class="menu-label">
                <a href="/wsc_docs/#wsc_docs">WSC Documentation</a>
            </p>
            <ul class="menu-list">
                <li><a href="/wsc_docs/#usage">Usage</a></li>
            </ul>
            <p class="menu-label">
                <a href="/wsc_docs/#description_fields">Description Fields</a>
            </p>
            <ul class="menu-list">
                <li><a href="/wsc_docs/#typography">Typography</a></li>
                <li><a href="/wsc_docs/#links">Links</a></li>
                <li><a href="/wsc_docs/#actions">Actions</a></li>
                <li><a href="/wsc_docs/#tiers_of_success">Tiers of Success</a></li>
                <li><a href="/wsc_docs/#bullet_lists">Bullet Lists</a></li>
                <li><a href="/wsc_docs/#non_bullet_lists">Non-Bullet Lists</a></li>
            </ul>
            <p class="menu-label">
                <a href="/wsc_docs/#code_fields">Code Fields</a>
            </p>
            <ul class="menu-list">
                <li><a href="/wsc_docs/#code_char_sheet_statements">Sheet Statements</a></li>
                <li><a href="/wsc_docs/#code_if_else">If - Else</a></li>
                <li><a href="/wsc_docs/#code_boosts">Boosts</a></li>
                <li><a href="/wsc_docs/#code_feats">Feats</a></li>
                <li><a href="/wsc_docs/#code_languages">Languages</a></li>
                <li><a href="/wsc_docs/#code_lore">Lore</a></li>
                <li><a href="/wsc_docs/#code_proficiencies">Proficiencies</a></li>
                <li><a href="/wsc_docs/#code_skills">Skills</a></li>
                <li><a href="/wsc_docs/#code_spells">Spells</a></li>
                <li><a href="/wsc_docs/#code_domains">Domains</a></li>
                <li><a href="/wsc_docs/#code_resist_and_weak">Resist / Weaks</a></li>
                <li><a href="/wsc_docs/#code_speeds">Other Speeds</a></li>
                <li><a href="/wsc_docs/#code_senses">Senses</a></li>
                <li><a href="/wsc_docs/#code_phy_feats">Physical Features</a></li>
                <li><a href="/wsc_docs/#code_specializations">Specializations</a></li>
                <li><a href="/wsc_docs/#code_char_traits">Character Traits</a></li>
                <li><a href="/wsc_docs/#code_notes_field">Notes Field</a></li>
                <li><a href="/wsc_docs/#code_add_text">Add Text</a></li>
                <li><a href="/wsc_docs/#code_miscellaneous">Miscellaneous</a></li>
            </ul>
        </aside>
    </div>
</div>

<div id="docs_content" class="tile is-ancestor is-paddingless is-marginless mb-3">
    <div class="tile is-parent is-2">
        <div class="tile is-child"></div>
    </div>
    <div class="tile is-parent is-vertical is-8">
        <div id="wsc_docs" class="tile is-child">
            <h1 class="main-title is-size-2 is-family-code has-text-centered">WSC Documentation</h1>
            <p class="subtitle is-size-6-5 has-text-grey-light has-text-centered is-italic">Wanderer's Styling Code (WSC), is used to format text in Wanderer's Guide and implement features for homebrew content.</p>
        </div>
        <div id="usage" class="tile is-child isHideable">
            <h1 class="title is-size-4 is-marginless mb-1 pl-3">Usage</h1>
            <p>
                WSC has two different forms, one is for description fields and the other is for code fields. Whenever something has an text area that is description for something, generally you can use WSC inside of it. Examples of this being: ancestry descriptions, heirtage descriptions, feat descriptions, and item descriptions. When making homebrew content, you will see that there are often fields that are labeled "Code" - these are code fields which is where you can input WSC to implement features. In addition, with these two different forms of WSC, some features are designed for the character sheet and others are designed for the character builder.
            </p>
        </div>
        <div id="description_fields" class="tile is-child is-paddingless">
            <div class="isHideable">
                <h1 class="main-title is-family-code is-size-3 has-text-centered is-marginless mb-2">Description Fields</h1>
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Basics</h1>
                <p>
                    This is where the styling part of WSC comes into play. The following is numberous, relatively small styling systems you can apply to your text.
                </p>
            </div>
            <div id="typography" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Typography</h1>
                <div class="ml-4">
                    <div class="columns mb-3">
                        <div class="column is-6">
                            <div class="columns is-mobile is-marginless">
                                <div class="column is-paddingless"><strong class="pl-2">You Type:</strong></div>
                                <div class="column is-paddingless"><strong class="pl-3">You See:</strong></div>
                            </div>
                            <div class="columns table-row-a is-mobile is-marginless">
                                <div class="column"><p>__italics__</p></div>
                                <div class="column text-processing">__italics__</div>
                            </div>
                            <div class="columns table-row-b is-mobile is-marginless">
                                <div class="column is-mobile"><p>**bold**</p></div>
                                <div class="column text-processing">**bold**</div>
                            </div>
                            <div class="columns table-row-a is-mobile is-marginless">
                                <div class="column is-mobile"><p>***big bold***</p></div>
                                <div class="column text-processing">***big bold***</div>
                            </div>
                            <div class="columns table-row-b is-mobile is-marginless">
                                <div class="column"><p>~~strikethrough~~</p></div>
                                <div class="column text-processing">~~strikethrough~~</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="links" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Links</h1>
                <div class="ml-4">
                    <div class="mt-1">
                        <h1 class="small-title is-size-4 is-marginless mb-1 pl-3">Core Rulebook</h1>
                        <p>
                            Stating the word "page" followed by some page number will generate a link to where you can purchase the Pathfinder 2e Core Rulebook.
                        </p>
                        <p class="pl-2">
                            <strong>As show below, page 456 becomes a link:</strong>
                        </p>
                        <div class="text-processing">
                            Hi! This is sample text, you should refer to page 456.
                        </div>
                    </div>
                    <div class="mt-1">
                        <h1 class="small-title is-size-4 is-marginless mb-1 pl-3">Bestiary</h1>
                        <p>
                            Stating the words "Pathfinder Bestiary" followed by some page number will generate a link to where you can purchase the Pathfinder 2e Bestiary.
                        </p>
                        <p class="pl-2">
                            <strong>As show below, Pathfinder Bestiary 302 becomes a link:</strong>
                        </p>
                        <div class="text-processing">
                            Hi! This is sample text, you should refer to Pathfinder Bestiary 302.
                        </div>
                    </div>
                    <div class="mt-1">
                        <h1 class="small-title is-size-4 is-marginless mb-1 pl-3">External</h1>
                        <p>
                            URLs to popular community resources can be turned into icons that function as links.
                        </p>
                        <p>
                            Any URL from a supported community resource surrounded in brackets will become and icon link.
                        </p>
                        <p>
                            Supported resources include:
                        </p>
                        <p class="is-size-7 pb-1 pl-4">
                            'paizo.com', '2e.aonprd.com', 'pf2.easytool.es', 'pathfinder2.dragonlash.com', 'pf2srd.com', 'pf2.d20pfsrd.com', 'youtube.com'
                        </p>
                        <p class="pl-2">
                            <strong>As show below, [https://paizo.com/pathfinder] becomes an icon link:</strong>
                        </p>
                        <div class="text-processing">
                            Hi! This is sample text, check out Pathfinder at [https://paizo.com/pathfinder]!
                        </div>
                    </div>
                </div>
            </div>
            <div id="actions" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Actions</h1>
                <p>
                    Displaying actions is super easy. Just write the action codename and it will generate that action icon.
                </p>
                <div class="code-block">
                    <p class="pl-2">
                    Free Action: FREE-ACTION.
                    </p>
                    <p class="pl-2">
                    Reaction: REACTION.
                    </p>
                    <p class="pl-2">
                    One Action: ONE-ACTION.
                    </p>
                    <p class="pl-2">
                    Two Actions: TWO-ACTIONS.
                    </p>
                    <p class="pl-2">
                    Three Actions: THREE-ACTIONS.
                    </p>
                </div>
                <p class="pl-4">Becomes...</p>
                <div class="code-block">
                    <div class="text-processing">
                        Free Action: FREE-ACTION.
                    </div>
                    <div class="text-processing">
                        Reaction: REACTION.
                    </div>
                    <div class="text-processing">
                        One Action: ONE-ACTION.
                    </div>
                    <div class="text-processing">
                        Two Actions: TWO-ACTIONS.
                    </div>
                    <div class="text-processing">
                        Three Actions: THREE-ACTIONS.
                    </div>
                </div>
            </div>
            <div id="tiers_of_success" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Tiers of Success</h1>
                <p>
                    Some simple formating for tiers of success can be very useful for actions, feats, and spells in homebrew content.
                </p>
                <div class="code-block">
                    <p class="pl-2">
                    Attempt an Intimidation check against that target's Will DC.
                    </p>
                    <p class="pl-2">
                        Critical Success: The target becomes frightened 2.
                    </p>
                    <p class="pl-2">
                        Success: The target becomes frightened 1.
                    </p>
                    <p class="pl-2">
                        Failure: They're not really scared of you...
                    </p>
                    <p class="pl-2">
                        Critical Failure: They think you're weak, whoops.
                    </p>
                </div>
                <p class="pl-4">Becomes...</p>
                <div class="code-block text-processing">
                    Attempt an Intimidation check against that target’s Will DC. Critical Success: The target becomes frightened 2. Success: The target becomes frightened 1. Failure: They're not really scared of you... Critical Failure: They think you're weak, whoops.
                </div>
                <p class="pl-4">You do not need to include all four tiers of success. It will format whatever tiers you give it.</p>
            </div>
            <div id="bullet_lists" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Bullet Lists</h1>
                <p>
                    There are times when it's best to organize information using bullet points. Having a '*' followed by some text then a ':' will separate the inner text, making it bold and creating a bullet point.
                </p>
                <div class="code-block">
                    <p class="pl-2">
                    The effect depends on whether the target is living or undead.
                    </p>
                    <p class="pl-2">
                        * Living Creature: The spell deals negative damage equal to 1d4 plus your spellcasting modifier. The target attempts a basic Fortitude save, but is also enfeebled 1 for 1 round on a critical failure.
                    </p>
                    <p class="pl-2">
                        * Undead Creature: The target is flat-footed for 1 round on a failed Fortitude save. On a critical failure, the target is also fleeing for 1 round unless it succeeds at a Will save.
                    </p>
                </div>
                <p class="pl-4">Becomes...</p>
                <div class="code-block text-processing">
                    The effect depends on whether the target is living or undead.
                    * Living Creature: The spell deals negative damage equal to 1d4 plus your spellcasting modifier. The target attempts a basic Fortitude save, but is also enfeebled 1 for 1 round on a critical failure.
                    * Undead Creature: The target is flat-footed for 1 round on a failed Fortitude save. On a critical failure, the target is also fleeing for 1 round unless it succeeds at a Will save.
                </div>
            </div>
            <div id="non_bullet_lists" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Non-Bullet Lists</h1>
                <p>
                    There are times when it's best to organize information using bullet points. Having a '~' followed by some text then a ':' will separate the inner text and make it bold.
                </p>
                <div class="code-block">
                    <p class="pl-2">
                    The effect depends on whether the target is living or undead.
                    </p>
                    <p class="pl-2">
                        ~ Living Creature: The spell deals negative damage equal to 1d4 plus your spellcasting modifier. The target attempts a basic Fortitude save, but is also enfeebled 1 for 1 round on a critical failure.
                    </p>
                    <p class="pl-2">
                        ~ Undead Creature: The target is flat-footed for 1 round on a failed Fortitude save. On a critical failure, the target is also fleeing for 1 round unless it succeeds at a Will save.
                    </p>
                </div>
                <p class="pl-4">Becomes...</p>
                <div class="code-block text-processing">
                    The effect depends on whether the target is living or undead.
                    ~ Living Creature: The spell deals negative damage equal to 1d4 plus your spellcasting modifier. The target attempts a basic Fortitude save, but is also enfeebled 1 for 1 round on a critical failure.
                    ~ Undead Creature: The target is flat-footed for 1 round on a failed Fortitude save. On a critical failure, the target is also fleeing for 1 round unless it succeeds at a Will save.
                </div>
            </div>
        </div>
        <div id="code_fields" class="tile is-child is-paddingless">         
            <div class="isHideable">
                <h1 class="main-title is-size-3 is-family-code has-text-centered is-marginless mb-2">Code Fields</h1>
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Basics</h1>
                <p>
                    Use a series of code statements to implement features for homebrew content. Split these statements up with a newline for each statement.
                </p>
                <p>
                    Code statements currently have a very strict syntax, as such, most of this documentation will be a series of examples.
                </p>
                <p>
                    <strong>Example:</strong>
                </p>
                <div class="code-block">
                    GIVE-PROF-INCREASE-IN=Perception
                    <br/>
                    GIVE-SKILL-FEAT=3
                </div>
            </div>
            <div id="code_char_sheet_statements" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Character Sheet Adjustment Statements</h1>
                <p>
                    These statements only do stuff in the character sheet, nothing in the builder. Each aspect of the character sheet has a codename associated with it.
                </p>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Ability Scores:</strong>
                    </p>
                    <p class="pl-2">'SCORE_STR'</p>
                    <p class="pl-2">'SCORE_DEX'</p>
                    <p class="pl-2">'SCORE_CON'</p>
                    <p class="pl-2">'SCORE_INT'</p>
                    <p class="pl-2">'SCORE_WIS'</p>
                    <p class="pl-2">'SCORE_CHA'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Health:</strong>
                    </p>
                    <p class="pl-2">'MAX_HEALTH'</p>
                    <p class="pl-2">'MAX_HEALTH_BONUS_PER_LEVEL'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Saving Throws:</strong>
                    </p>
                    <p class="pl-2">'SAVE_FORT'</p>
                    <p class="pl-2">'SAVE_REFLEX'</p>
                    <p class="pl-2">'SAVE_WILL'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Skills:</strong>
                    </p>
                    <p class="pl-2">'SKILL_' + skillName</p>
                    <p class="">
                        For lore add '_LORE' to the end: 'SKILL_WARFARE_LORE'
                    </p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Perception:</strong>
                    </p>
                    <p class="pl-2">'PERCEPTION'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Class DC:</strong>
                    </p>
                    <p class="pl-2">'CLASS_DC'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Spell Attacks:</strong>
                    </p>
                    <p class="pl-2">'ARCANE_SPELL_ATTACK'</p>
                    <p class="pl-2">'OCCULT_SPELL_ATTACK'</p>
                    <p class="pl-2">'PRIMAL_SPELL_ATTACK'</p>
                    <p class="pl-2">'DIVINE_SPELL_ATTACK'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Spell DCs:</strong>
                    </p>
                    <p class="pl-2">'ARCANE_SPELL_DC'</p>
                    <p class="pl-2">'OCCULT_SPELL_DC'</p>
                    <p class="pl-2">'PRIMAL_SPELL_DC'</p>
                    <p class="pl-2">'DIVINE_SPELL_DC'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Armor Class:</strong>
                    </p>
                    <p class="pl-2">'AC'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Armor Other:</strong>
                    </p>
                    <p class="pl-2">'ARMOR_CHECK_PENALTY'</p>
                    <p class="pl-2">'ARMOR_SPEED_PENALTY'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Speed:</strong>
                    </p>
                    <p class="pl-2">'SPEED'</p>
                    <p class="pl-2">
                        For other Speeds, put 'SPEED_' and then the name of the speed. Ex: 'SPEED_CLIMB'
                    </p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Bulk:</strong>
                    </p>
                    <p class="pl-2">'BULK_LIMIT'</p>
                </div>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>Investiture:</strong>
                    </p>
                    <p class="pl-2">'INVEST_LIMIT'</p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        INCREASE-SKILL_SURVIVAL=5-STATUS
                    </div>
                    <p class="pl-3">
                        - Gives the character a +5 status bonus to Survival. 
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        INCREASE-PERCEPTION=2
                    </div>
                    <p class="pl-3">
                        - Gives the character a +2 bonus to Perception. 
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        DECREASE-SAVE_REFLEX=1-CIRCUM
                    </div>
                    <p class="pl-3">
                        - Gives the character a -1 circumstance penalty to Reflex saving throws. 
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        DECREASE-SCORE_DEX=2
                    </div>
                    <p class="pl-3">
                        - Gives the character a -2 penalty to their Dexterity ability score. 
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        CONDITIONAL-INCREASE-SKILL_STEALTH=2~circumstance bonus to Sneak checks while in the rain
                    </div>
                    <p class="pl-3">
                        - Adds a conditional to Stealth, stating '+2 circumstance bonus to Sneak checks while in the rain'.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        CONDITIONAL-DECREASE-PERCEPTION=2~status penalty to checks for initiative
                    </div>
                    <p class="pl-3">
                        - Adds a conditional to Perception, stating '-2 status penalty to checks for initiative'.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        CONDITIONAL-SAVE_FORT=When you roll a success, you get a critical success instead.
                    </div>
                    <p class="pl-3">
                        - Adds a conditional to Fortitude, stating 'When you roll a success, you get a critical success instead.'
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        OVERRIDE-PERCEPTION=2-MODIFIER
                    </div>
                    <p class="pl-3 pb-2">
                        <strong class="has-text-danger">Warning: </strong><em>This statement is complicated. Like everything here, feel free to mess around with it and see how it affects a character, but it many change things in seemly unexpected ways if you don't know what you're doing!</em>
                    </p>
                    <p class="pl-3">
                        - Replaces the character's Wisdom modifier with 2 only if 2 is higher than the character's current Wisdom modifier. For stats that are penalties (like 'ARMOR_CHECK_PENALTY'), treat the override number as negative. For example, 'OVERRIDE-ARMOR_CHECK_PENALTY=1-BASE' would be a -1 penalty, which would be greater than many other armor penalties that are -2 or -3.
                    </p>
                </div>
            </div>
            <div id="code_if_else" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">If - Else Statements</h1>
                <p>
                    You can have an 'if statement' to execute a single WSC statement if the 'if statement' is true and you can also optionally include an 'else' for if that statement is not true.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        IF (HAS-FEAT==Specialty Crafting) {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character has the Specialty Crafting feat, the statement inside the brackets will execute.
                    </p>
                    <p class="pl-3">
                        Boolean Operators: '==' or '!='
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        IF (HAS-CLASS-ABILITY==Cloistered Cleric) {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character has the Cloistered Cleric class ability, the statement inside the brackets will execute.
                    </p>
                    <p class="pl-3">
                        Boolean Operators: '==' or '!='
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        IF (HAS-HERITAGE==Treedweller) {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character has the Treedweller heritage, the statement inside the brackets will execute.
                    </p>
                    <p class="pl-3">
                        Boolean Operators: '==' or '!='
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        IF (HAS-VISION==Low-Light Vision) {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character has Low-Light Vision, the statement inside the brackets will execute.
                    </p>
                    <p class="pl-3">
                        Boolean Operators: '==' or '!='
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        IF (HAS-LEVEL>=13) {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character is level 13 or greater, the statement inside the brackets will execute.
                    </p>
                    <p class="pl-3">
                        - Any number between 0 and 20 for the level.
                    </p>
                    <p class="pl-3">
                        Boolean Operators: '==', '!=', '>=', or '<='
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        IF (HAS-PROF==Arcana:T) {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character is trained in Arcana, the statement inside the brackets will execute.
                    </p>
                    <p class="pl-3">
                        Boolean Operators: '==', '!=', '>=', or '<='
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        IF (HAS-FOCUS-POINTS==0) {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character has zero Focus Points, the statement inside the brackets will execute.
                    </p>
                    <p class="pl-3">
                        Boolean Operators: '==', '!=', '>=', or '<='
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        IF (HAS-PROF>=Stealth:T) {Statement} ELSE {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character is trained or better in Stealth, the first statement will execute (which will give the character a swim speed of 15 feet). If the character is not trained in Stealth, the second statement will execute.
                    </p>
                    <p class="pl-3">
                        Boolean Operators: '==', '!=', '>=', or '<='
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        IF (HAS-FEAT==Goblin Song && HAS-FOCUS-POINTS==0) {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character has the Goblin Song feat and has zero Focus Points, the statement inside the brackets will execute.
                    </p>
                    <p class="pl-3">
                        Boolean Operators: '==', '!=', '>=', or '<='
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        IF-SHEET (Condition) {Statement}
                    </div>
                    <p class="pl-3">
                        - If the character meets the condition, the statement inside the brackets will execute (like normal). But this if statement will only be tested in the character sheet (not in the character builder or anywhere else). In all other non-sheet contexts, the condition is essentially treats as true - executing the statement.
                    </p>
                </div>
            </div>
            <div id="code_boosts" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Boosts</h1>
                <p>
                    Use the following code statements to give a character ability boosts. Ability boosts are special in that a character cannot select the same ability score as any other ABILITY-BOOST statement in the same code field.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-SINGLE=ALL
                    </div>
                    <p class="pl-3">
                        - Generates one ability boost selector, all six ability scores are options.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-SINGLE=INT,WIS,CHA
                    </div>
                    <p class="pl-3">
                        - Generates one ability boost selector, only options are Intelligence, Wisdom, and Charisma.
                    </p>
                    <p class="pl-3">
                        - Note: Separate abilities list by only a single ","
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-MULTIPLE=3
                    </div>
                    <p class="pl-3">
                        - Generates three ability boost selectors, all six ability scores are options.
                    </p>
                    <p class="pl-3">
                        - Can generate up to six ability boost selectors, any more would be unnecessary.
                    </p>
                </div>
                <div class="pt-4 pb-2">
                    <p class="pl-3">
                        <strong>Warrior Background Example:</strong>
                    </p>
                    <p>
                        The warrior background gives the character an ability boost of either Strength or Constitution and then another ability boost of any ability score. But, since these two boosts are both given from the same source, the character cannot select the same ability score for both. Hopefully this is review, anyone reading this would likely already know how the system works.
                    </p>
                    <p>
                        You can implement something like this using the following code:
                    </p>
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-SINGLE=STR,CON
                        <br/>
                        GIVE-ABILITY-BOOST-SINGLE=ALL
                    </div>
                </div>
                <div class="pt-4 pb-2">
                    <p class="pl-3">
                        <strong>4-Free-Boosts Example:</strong>
                    </p>
                    <p>
                        Generally every five levels a character is given four ability boosts. Because these four boosts are from the same source, they cannot select the same ability score multiple times.
                    </p>
                    <p>
                        You can implement something like this using the following code:
                    </p>
                    <div class="code-block">
                        GIVE-ABILITY-BOOST-MULTIPLE=4
                    </div>
                </div>
            </div>
            <div id="code_feats" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Feats</h1>
                <p>
                    Use the following code statements to give a character feats.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-FEAT-NAME=Ancestral Paragon
                    </div>
                    <p class="pl-3">
                        - Gives the character the Ancestral Paragon feat.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-GENERAL-FEAT=3
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only general feats with the level 3 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SKILL-FEAT=15
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only skill feats with the level 15 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ANCESTRY-FEAT=11
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only that character's ancestry feats with the level 11 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-CLASS-FEAT=1
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only that character's class feats with the level 1 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SKILL-FEAT=Half_Level
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only skill feats with a level equal to half the character's level (rounded down) or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-CLASS-FEAT=1[metamagic]
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only that character's class feats with the metamagic trait and are level 1 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-CLASS-FEAT=15[abjuration,arcane,metamagic]
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only that character's class feats with the abjuration, arcane, and metamagic traits and are level 15 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-FEAT=3[wizard,metamagic]
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing all feats with the wizard and metamagic traits and are level 3 or lower.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-FEAT-FROM=Choose a Tradition:feat 1,feat 2,feat 3,etc
                    </div>
                    <p class="pl-3">
                        - Generates a feat selector, listing only feats with the names: 'feat 1', 'feat 2', 'feat 3', and 'etc'. The feat selector will say 'Choose a Tradition' for the feat selection.
                    </p>
                </div>
            </div>
            <div id="code_languages" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Languages</h1>
                <p>
                    Use the following code statements to give a character a langauge.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-LANG-NAME=Elven
                    </div>
                    <p class="pl-3">
                        - Gives the character the Elven language.
                    </p>
                    <p class="pl-3">
                        - Use an underscore in the place of spaces for names, if relevant.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-LANG
                    </div>
                    <p class="pl-3">
                        - Generates a language selector, listing all languages as options.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-LANG-BONUS-ONLY
                    </div>
                    <p class="pl-3">
                        - Generates a language selector, listing only their ancestry's bonus languages as options.
                    </p>
                </div>
            </div>
            <div id="code_lore" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Lore</h1>
                <p>
                    Use the following code statements to give a character a lore skill.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-LORE=Sailing
                    </div>
                    <p class="pl-3">
                        - Gives the character Sailing Lore, by adding it to their skill list, and makes them trained in that Lore skill.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-LORE-CHOOSE
                    </div>
                    <p class="pl-3">
                        - Generates an input field. Text input into the field will be saved and give the character a Lore skill with that name. They will become trained in that Lore skill automatically.
                    </p>
                </div>
            </div>
            <div id="code_proficiencies" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Proficiencies</h1>
                <p class="pl-2 py-1">
                    <strong>Skills:</strong> 'Acrobatics', 'Arcana', 'Athletics', 'Crafting', 'Deception', 'Diplomacy', 'Intimidation', 'Medicine', 'Nature', 'Occultism', 'Performance', 'Religion', 'Society', 'Stealth', 'Survival', 'Thievery'
                </p>
                <p class="pl-2 py-1">
                    <strong>Attacks:</strong> 'Simple_Weapons', 'Martial_Weapons', 'Advanced_Weapons', 'Unarmed_Attacks'
                </p>
                <p class="pl-2 py-1">
                    <strong>Defenses:</strong> 'Light_Armor', 'Medium_Armor', 'Heavy_Armor', 'Unarmored_Defense'
                </p>
                <p class="pl-2 py-1">
                    <strong>Saving Throws:</strong> 'Fortitude', 'Reflex', 'Will'
                </p>
                <p class="pl-2 py-1">
                    <strong>Perception:</strong> 'Perception'
                </p>
                <p class="pl-2 py-1">
                    <strong>Class DC:</strong> 'Class_DC'
                </p>
                <p class="pl-2 py-1">
                    <strong>Spell Attacks:</strong> 'ArcaneSpellAttacks', 'OccultSpellAttacks', 'PrimalSpellAttacks', 'DivineSpellAttacks'
                </p>
                <p class="pl-2 py-1">
                    <strong>Spell DCs:</strong> 'ArcaneSpellDCs', 'OccultSpellDCs', 'PrimalSpellDCs', 'DivineSpellDCs'
                </p>
                <div class="pl-3 py-2">
                    <p class="">
                        <strong>By Name:</strong>
                    </p>
                    <p class="pl-2">
                        LORE~Name
                    </p>
                    <p class="pl-2">
                        WEAPON~Name
                    </p>
                    <p class="pl-2">
                        ARMOR~Name
                    </p>
                </div>
                <p>
                    Use the following code statements to give a character a proficiency.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-PROF-INCREASE-IN=Arcana
                    </div>
                    <p class="pl-3">
                        - Increases the character's proficiency in Arcana by one tier.
                    </p>
                    <p class="pl-3">
                        (Untrained -> Trained, Trained -> Expert, etc)
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-PROF-IN=Diplomacy:T
                    </div>
                    <p class="pl-3">
                        - Sets the character's base proficiency in Diplomacy to trained.
                    </p>
                    <p class="pl-3">
                        - Note: Any proficiency increases will stack on top of the base proficiency.
                    </p>
                    <p class="pl-3">
                        (U = Untrained, T = Trained, E = Expert, M = Master, L = Legendary)
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-PROF-IN=Light_Armor:M
                    </div>
                    <p class="pl-3">
                        - Sets the character's base proficiency in Light Armor to master.
                    </p>
                    <p class="pl-3">
                        - Note: Any proficiency increases will stack on top of the base proficiency.
                    </p>
                    <p class="pl-3">
                        (U = Untrained, T = Trained, E = Expert, M = Master, L = Legendary)
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-PROF-IN=WEAPON~Sickle:E
                    </div>
                    <p class="pl-3">
                        - Sets the character's base proficiency with the Sickle to expert.
                    </p>
                    <p class="pl-3">
                        - Note: Any proficiency increases will stack on top of the base proficiency.
                    </p>
                    <p class="pl-3">
                        (U = Untrained, T = Trained, E = Expert, M = Master, L = Legendary)
                    </p>
                </div>
            </div>
            <div id="code_skills" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Skills</h1>
                <p>
                    Use the following code statements to give a character a proficiency in a skill of their choice.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SKILL-INCREASE
                    </div>
                    <p class="pl-3">
                        - Generates a skill selector, listing all skills and lores in the character's skill list.
                    </p>
                    <p class="pl-3">
                        - The selected skill has its proficiency increased by one tier.
                    </p>
                    <p class="pl-3">
                        - Minimum level of 7 to increase a skill to master and 15 to increase to legendary.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SKILL=T
                    </div>
                    <p class="pl-3">
                        - Generates a skill selector, listing all skills and lores in the character's skill list.
                    </p>
                    <p class="pl-3">
                        - The selected skill has its base proficiency set to trained.
                    </p>
                    <p class="pl-3">
                        - Note: Any proficiency increases will stack on top of the base proficiency.
                    </p>
                    <p class="pl-3">
                        (U = Untrained, T = Trained, E = Expert, M = Master, L = Legendary)
                    </p>
                </div>
            </div>
            <div id="code_spells" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Spells</h1>
                <p>
                    Use the following code statements to give a character spells and spellcasting. With many of the statements it may require a spellcasting source, this can be any name you'd like but it should be consistant - it will be the unique identifier for that instance of spellcasting. If you're creating homebrew for a class, the spellcasting source should likely be the name of the class.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        SET-SPELL-CASTING-TYPE=Bard:SPONTANEOUS-REPERTOIRE
                    </div>
                    <p class="pl-3">
                        - Sets the Bard spellcasting source to use a repertoire - making them a spontaneous caster.
                    </p>
                    <p class="pl-3">
                        - Options are: Prepared-List, Prepared-Book, Prepared-Familiar, and Spontaneous-Repertoire.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        SET-SPELL-TRADITION=Wizard:ARCANE
                    </div>
                    <p class="pl-3">
                        - Sets the Wizard spellcasting source to use the Arcane tradition spell list.
                    </p>
                    <p class="pl-3">
                        - Options are: Arcane, Divine, Occult, and Primal.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        SET-SPELL-KEY-ABILITY=Druid:WIS
                    </div>
                    <p class="pl-3">
                        - Sets the Druid spellcasting source to use Wisdom as their key spellcasting ability.
                    </p>
                    <p class="pl-3">
                        - Options are: STR, DEX, CON, INT, WIS, and CHA.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        SET-SPELL-SLOTS=Bard:THREE-QUARTERS
                    </div>
                    <p class="pl-3">
                        - Sets the Bard spellcasting source to have three-quarters spellcasting slots (that being what most spellcasters have: 5 cantrips and 2 to 3 spell slots per spell level).
                    </p>
                    <p class="pl-3">
                        - Options are: Three-Quarters, Full, and Single-Set.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SPELL-SLOT=Bard:10
                    </div>
                    <p class="pl-3">
                        - Gives the character a 10th level spell slot for the Bard spellcasting source.
                    </p>
                    <p class="pl-3">
                        - Options are: 0 - 10.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        ADD-SPELL-TO-LIST=Witch:Spirit Link:1
                    </div>
                    <p class="pl-3">
                        - Adds the Spirit Link spell at 1st-level to the spell list/repertoire for the Witch spellcasting source.
                    </p>
                </div>
                <h1 class="title is-size-5 is-marginless mt-2 mb-1 pl-3">Focus Spells</h1>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-FOCUS-SPELL=Shadowdancer:Dance of Darkness
                    </div>
                    <p class="pl-3">
                        - Gives the character Dance of Darkness as a focus spell using the Shadowdancer spellcasting source.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-FOCUS-POINT
                    </div>
                    <p class="pl-3">
                        - Increases the number of Focus Points in the character's focus pool.
                    </p>
                </div>
                <h1 class="title is-size-5 is-marginless mt-2 mb-1 pl-3">Innate Spells</h1>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-INNATE-SPELL-NAME=Meld into Stone:3:DIVINE:1
                    </div>
                    <p class="pl-3">
                        - Gives the character Meld into Stone as an innate divine spell, cast at 3rd level, and can only be cast once per day.
                    </p>
                    <p class="pl-3">
                        - Options for tradition is: Arcane, Divine, Occult, and Primal.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-INNATE-SPELL-NAME=Daze:0:ARCANE:0
                    </div>
                    <p class="pl-3">
                        - Gives the character Daze as an innate arcane cantrip, can be cast any number of times per day.
                    </p>
                    <p class="pl-3">
                        - Options for tradition is: Arcane, Divine, Occult, and Primal.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-INNATE-SPELL=5:DIVINE:2
                    </div>
                    <p class="pl-3">
                        - Generates a selector, listing only 5th level spells within the Divine tradition spell list. The chosen spell can be cast twice per day.
                    </p>
                    <p class="pl-3">
                        - Options for tradition is: Arcane, Divine, Occult, and Primal.
                    </p>
                </div>
            </div>
            <div id="code_domains" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Domains</h1>
                <p>
                    Use the following code statements to give or advance a character's domain.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-DOMAIN=Cleric
                    </div>
                    <p class="pl-3">
                        - Generates a domain selector, using Cleric as the spellcasting source.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-DOMAIN-ADVANCEMENT=Cleric
                    </div>
                    <p class="pl-3">
                        - Generates a domain advancement selector, listing all the characters's current domains and using Cleric as the spellcasting source.
                    </p>
                </div>
            </div>
            <div id="code_resist_and_weak" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Resistances and Weaknesses</h1>
                <p>
                    Use the following code statements to give a character a resistance or weakness.
                </p>
                <p>
                    For the value either put a number, "Half_Level", or "Level".
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-RESISTANCE=Negative:Half_Level
                    </div>
                    <p class="pl-3">
                        - Gives the character a resistance to negative damage equal to half their level.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-WEAKNESS=Cold:2
                    </div>
                    <p class="pl-3">
                        - Gives the character a weakness of 2 to cold damage.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-RESISTANCE=All Physical:Half_Level+2
                    </div>
                    <p class="pl-3">
                        - Gives the character a resistance equal to half their level + 2 against all physical damage.
                    </p>
                </div>
            </div>
            <div id="code_speeds" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Other Speeds</h1>
                <p>
                    Use the following code statement to give a character other types of speeds.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SPEED=Swim:15
                    </div>
                    <p class="pl-3">
                        - Gives the character a swim speed of 15 feet.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SPEED=Climb:LAND_SPEED
                    </div>
                    <p class="pl-3">
                        - Gives the character a climb speed equal to their land lpeed.
                    </p>
                </div>
            </div>
            <div id="code_senses" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Senses</h1>
                <p>
                    Use the following code statement to give a character a sense.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-SENSE-NAME=Darkvision
                    </div>
                    <p class="pl-3">
                        - Gives the character darkvision.
                    </p>
                </div>
            </div>
            <div id="code_phy_feats" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Physical Features</h1>
                <p>
                    Use the following code statement to give a character a physical feature.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-PHYSICAL-FEATURE-NAME=Blunt Snout
                    </div>
                    <p class="pl-3">
                        - Gives the character a physical feature with the name "Blunt Snout".
                    </p>
                </div>
            </div>
            <div id="code_specializations" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Specializations</h1>
                <p>
                    Use the following code statements to give a character a specialization.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-WEAPON-SPECIALIZATION
                    </div>
                    <p class="pl-3">
                        - Gives the character weapon specialization.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-GREATER-WEAPON-SPECIALIZATION
                    </div>
                    <p class="pl-3">
                        - Gives the character greater weapon specialization.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-ARMOR-SPECIALIZATION=Light_Armor
                    </div>
                    <p class="pl-3">
                        - Gives the character armor specialization in all light armor.
                    </p>
                    <p class="pl-3">
                        - Options are any of the defenses proficiency options (see Proficiencies) and can give by armor name, trait, prof, or group (Ex: GIVE-ARMOR-SPECIALIZATION=PROF~E).
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-WEAPON-CRITICAL-SPECIALIZATION=Simple_Weapons
                    </div>
                    <p class="pl-3">
                        - Gives the character critical specialization in all simple weapons.
                    </p>
                    <p class="pl-3">
                        - Options are any of the attacks proficiency options (see Proficiencies) and can give by weapon name, trait, prof, or group (Ex: GIVE-WEAPON-CRITICAL-SPECIALIZATION=TRAIT~Dwarf).
                    </p>
                </div>
            </div>
            <div id="code_char_traits" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Character Traits</h1>
                <p>
                    Use the following code statement to add a trait to a character.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-CHAR-TRAIT-NAME=Fey
                    </div>
                    <p class="pl-3">
                        - Adds the Fey trait to the character.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-CHAR-TRAIT
                    </div>
                    <p class="pl-3">
                        - Generates a character trait selector, listing all ancestry traits as options.
                    </p>
                </div>
            </div>
            <div id="code_notes_field" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Notes Field</h1>
                <p>
                    Sometimes a feat or class ability might need an area where the user can write some notes specific to that feature. In such a case, use the follow code statement to generate a notes field in the character sheet for that feature.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        GIVE-NOTES-FIELD=Use this area to keep information about your diety.
                    </div>
                    <p class="pl-3">
                        - Generates a notes field in the character sheet with the given placeholder text.
                    </p>
                </div>
            </div>
            <div id="code_add_text" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Add Text</h1>
                <p>
                    Occasionally a class feature or feat may need an extra sentence or two tacked on at the end if the character meets a certain condition. You can use the following statement to display text, usually displaying it below the description of something.
                </p>
                <p>
                    This statement is usually used within an if statement, allowing certain text to be displayed if a character is at a certain level or has a certain class feature, for example.
                </p>
                <div class="py-2">
                    <div class="code-block">
                        ADD-TEXT=Any text you'd like to display!
                    </div>
                    <p class="pl-3">
                        - The displayed text will be parsed like a description field.
                    </p>
                </div>
            </div>
            <div id="code_miscellaneous" class="mt-4 isHideable">
                <h1 class="title is-size-4 is-marginless mb-1 pl-3">Miscellaneous</h1>
                <div class="py-2">
                    <div class="code-block">
                        HIDE-FEAT-NAME=Drain Bonded Item
                    </div>
                    <p class="pl-3">
                        - Hides all feats with the name Drain Bonded Item. Feats with that name are essentially treated as though they don't exist.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        UNHIDE-FEAT-NAME=Drain Bonded Item
                    </div>
                    <p class="pl-3">
                        - Makes a feat that was made hidden by HIDE-FEAT-NAME no longer hidden.
                    </p>
                </div>
                <div class="py-2">
                    <div class="code-block">
                        OVERRIDE-FEAT-LEVEL=Magical Trickster:2
                    </div>
                    <p class="pl-3">
                        - Makes all feats with the name Magical Trickster have their level set to 2nd instead of what levels they were before.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-parent is-2">
        <div class="tile is-child"></div>
    </div>
</div>