<div class="section-box pb-3 has-back-to-top" style="position: relative;">

  <span id="backToUserContentBtn" style="position: absolute; top: 0px; left: 0px; z-index: 1;" class="icon is-large has-text-info cursor-clickable">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>
  <div style="position: absolute; top: 5px; right: 5px; z-index: 1;">
    <span id="bundlePublishBtn" class="button is-success is-outlined">Publish</span>
    <div class="field pt-3 text-center has-tooltip-bottom has-tooltip-multiline" data-tooltip="A key will be required to add the bundle, you will be able to generate bundle keys once published.">
      <input id="bundleRequireKeySwitch" type="checkbox" name="bundleRequireKeySwitch" class="switch is-small is-rounded is-outlined is-info" value="1">
      <label for="bundleRequireKeySwitch">
          Require Key
      </label>
    </div>
  </div>

  <div style="max-width: 70%; margin: auto;">
    <p class="is-size-3 has-text-centered pb-2"><span id="bundleName" class="title-font has-txt-value-number is-bold"></span><sup id="bundleRenameBtn" class="icon has-text-info is-size-6 pl-2 cursor-clickable"><i class="far fa-edit"></i></sup></p>
  </div>

  <div class="build-bundle-container pb-2">
    <div class="control py-1">
      <textarea id="bundleDescription" class="textarea" placeholder="Bundle Description"></textarea>
    </div>
    <div class="control py-1">
      <input id="bundleContactInfo" class="input" type="text" placeholder="Contact Info" autocomplete="off">
    </div>
  </div>

  <div class="build-bundle-container">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Ancestries<span id="createAncestryBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerAncestries" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Archetypes<span id="createArchetypeBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerArchetypes" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Backgrounds<span id="createBackgroundBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerBackgrounds" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Classes<span id="createClassBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerClasses" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Class Features<span id="createClassFeatureBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerClassFeatures" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Feats / Activities<span id="createFeatBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerFeats" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Heritages<span id="createHeritageBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerHeritages" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Heritages (Versatile)<span id="createUniHeritageBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerUniHeritages" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Items<span id="createItemBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerItems" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Languages<span id="createLanguageBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerLanguages" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Spells<span id="createSpellBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerSpells" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Toggleables<span id="createToggleableBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerToggleables" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Traits<span id="createTraitBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fal fa-plus-circle fa-sm"></i></span></p>
      <div id="bundleContainerTraits" class="px-4 py-2">
        <p class="is-size-7 has-txt-noted is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div class="mt-4 field pos-relative">
      <label class="label pl-3">
          Code
          <a href="/wsc_docs/#code_basics" target="_blank"><span class="icon is-small has-text-info has-tooltip-top" data-tooltip="WSC Docs"><i class="fas fa-book"></i></span></a>
          <span class="is-italic pl-3">Runs On Load</span>
          <span class="code-block-statement-display">Sheet Statements Only</span>
      </label>
      <div class="control">
          <textarea id="inputBundleCode" class="textarea nanum-coding use-custom-scrollbar" rows="2" spellcheck="false" maxlength="950"></textarea>
      </div>
    </div>
    <p class="pl-3 is-italic is-size-6-5">Code written here will be executed before most other code on builder and sheet load. The primary use for this code block is to define and set custom variables before they're utilized elsewhere.</p>
  </div>
</div>

<div id="publish-modal" class="modal">
  <div id="publish-modal-background" class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title is-size-4 has-txt-value-number">Publish Content</p>
          <button id="publish-modal-close" class="delete modal-card-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
          <p class="has-txt-listing">By clicking publish, you are agreeing to the following about the content you are publishing:</p>
          <p class="pl-2 has-txt-listing negative-indent">&#x2022; The content does not contain any third party’s intellectual property without their permission.</p>
          <p class="pl-2 has-txt-listing negative-indent">&#x2022; The content preserves a high standard of quality; it is not "low-effort content."</p>
          <p class="pl-2 has-txt-listing negative-indent">&#x2022; The content does not contain material that the general public would classify as "adult content," offensive, or inappropriate for minors.</p>
          <p class="has-txt-listing pt-1">Failure to comply with these agreements may result in your content being removed and potentially further repercussions.</p>
      </section>
      <footer class="modal-card-foot is-paddingless p-3 field is-grouped is-grouped-centered">
          <p class="control">
              <a id="publish-modal-btn" class="button is-success is-outlined">Publish</a>
          </p>
      </footer>
  </div>
</div>


<div id="scratch-template-modal" data-content-type="" class="modal">
  <div id="scratch-template-modal-background" class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title is-size-4 has-txt-value-number">Create New Content</p>
          <button id="scratch-template-modal-close" class="delete modal-card-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
          <p class="has-txt-listing has-text-centered">Would you like to create this from a template or from scratch?</p>
      </section>
      <footer class="modal-card-foot is-paddingless p-3 field is-grouped is-grouped-centered">
          <p class="control">
            <a id="scratch-template-modal-template-btn" class="button is-info is-outlined">Template</a>
          </p>
          <p class="control">
            <a id="scratch-template-modal-scratch-btn" class="button is-info is-outlined">Scratch</a>
          </p>
      </footer>
  </div>
</div>

<div id="choose-template-modal" class="modal">
  <div id="choose-template-modal-background" class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title is-size-4 has-txt-value-number">Choose Template</p>
          <button id="choose-template-modal-close" class="delete modal-card-close" aria-label="close"></button>
      </header>
      <section id="choose-template-modal-body" class="modal-card-body">
      </section>
  </div>
</div>