<div class="section-box pb-3" style="position: relative;">

  <span id="backToUserContentBtn" style="position: absolute; top: 0px; left: 0px; z-index: 1;" class="icon is-large has-text-info cursor-clickable">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>
  <span id="bundlePublishBtn" style="position: absolute; top: 5px; right: 5px; z-index: 1;" class="button is-success is-outlined">Publish</span>

  <div style="max-width: 70%; margin: auto;">
    <p class="is-size-3 has-text-centered pb-2"><span id="bundleName" class="title-font has-text-grey-lighter is-bold"></span><sup id="bundleRenameBtn" class="icon has-text-info is-size-6 pl-2 cursor-clickable"><i class="far fa-edit"></i></sup></p>
  </div>

  <div class="build-bundle-container pb-2">
    <div class="control py-1">
      <textarea id="bundleDescription" class="textarea" placeholder="Bundle Description"></textarea>
    </div>
    <div class="control py-1">
      <input id="bundleContactInfo" class="input" type="text" placeholder="Contact Info" autocomplete="off">
    </div>
  </div>

  <div class="build-bundle-container">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Ancestries<span id="createAncestryBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerAncestries" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Archetypes<span id="createArchetypeBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerArchetypes" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Backgrounds<span id="createBackgroundBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerBackgrounds" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Classes<span id="createClassBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerClasses" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Class Features<span id="createClassFeatureBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerClassFeatures" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Feats / Activities<span id="createFeatBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerFeats" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Heritages<span id="createHeritageBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerHeritages" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Heritages (Versatile)<span id="createUniHeritageBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerUniHeritages" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Items<span id="createItemBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerItems" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Spells<span id="createSpellBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerSpells" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
  </div>
</div>

<div id="publish-modal" class="modal">
  <div id="publish-modal-background" class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title is-size-4 has-text-grey-lighter">Publish Content</p>
          <button id="publish-modal-close" class="delete modal-card-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
          <p class="has-text-grey-light">By clicking publish, you are agreeing to the following about the content you are publishing:</p>
          <p class="pl-2 has-text-grey-light negative-indent">&#x2022; The content does not contain any third party’s intellectual property without their permission.</p>
          <p class="pl-2 has-text-grey-light negative-indent">&#x2022; The content preserves a high standard of quality; it is not "low-effort content."</p>
          <p class="pl-2 has-text-grey-light negative-indent">&#x2022; The content does not contain material that the general public would classify as "adult content," offensive, or inappropriate for minors.</p>
          <p class="has-text-grey-light pt-1">Failure to comply with these agreements may result in your content being removed and potentially further repercussions.</p>
      </section>
      <footer class="modal-card-foot is-paddingless p-3 field is-grouped is-grouped-centered">
          <p class="control">
              <a id="publish-modal-btn" class="button is-success is-outlined">Publish</a>
          </p>
      </footer>
  </div>
</div>