<div class="section-box pb-3" style="position: relative;">

  <span id="backToUserContentBtn" style="position: absolute; top: 0px; left: 0px; z-index: 1;" class="icon is-large has-text-info cursor-clickable">
    <i class="fas fa-2x fa-arrow-left"></i>
  </span>
  <span id="bundlePublishBtn" style="position: absolute; top: 5px; right: 5px; z-index: 1;" class="button is-success is-outlined">Publish</span>

  <div style="max-width: 70%; margin: auto;">
    <p class="is-size-3 has-text-centered pb-2"><span><span id="bundleName" class="font-forum is-bold"></span><span id="bundleRenameBtn" class="button is-very-small is-info is-rounded ml-2 mt-1"><span>Rename</span><span class="icon is-small"><i class="far fa-edit"></i></span></span></span></p>
  </div>

  <div class="build-bundle-container pb-2">
    <div class="control py-1">
      <textarea id="bundleDescription" class="textarea" placeholder="Bundle Description"></textarea>
    </div>
    <div class="control py-1">
      <input id="bundleContactInfo" class="input" type="text" placeholder="Contact Info">
    </div>
  </div>

  <div class="build-bundle-container">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Ancestries<span id="createAncestryBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Archetypes<span id="createArchetypeBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Backgrounds<span id="createBackgroundBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Classes<span id="createClassBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div id="bundleContainerClasses" class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Class Features<span id="createClassFeatureBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Feats / Actions<span id="createFeatBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Heritages<span id="createHeritageBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Heritages (Versatile)<span id="createUniHeritageBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Items<span id="createItemBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
    <hr class="m-2">
    <div>
      <p class="pl-3 is-size-5 is-underlined">Spells<span id="createSpellBtn" class="icon is-medium has-text-info cursor-clickable"><i class="fas fa-sm fa-plus-circle"></i></span></p>
      <div class="px-4 py-2">
        <p class="is-size-7 has-text-grey is-italic">None</p>
      </div>
    </div>
  </div>
</div>