
/* Dark Mode Styling */

.card {
    background-color: hsl(0, 0%, 28%);
    border-color: #282828;
}

.card-header {
    background-color: hsl(0, 0%, 21%);
    border-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 73%);
}

.button.is-link.is-inverted {
    background-color: #282828;
    color: #3298dc;
}

.has-text-bck-color {
    color: #282828;
}

.button.is-link.is-inverted:hover {
    background-color: #282828;
}

.button.is-static {
    background-color: hsl(0, 0%, 18%);
    color: hsl(0, 0%, 68%);
}

.button:hover {
    color: hsl(0, 0%, 82%);
}